<link rel="stylesheet" href="/css/energycenter/energyByDay/energyByDayBody.css">
<!-- <link rel="stylesheet" href="/css/energycenter/public.css"> -->
<script src="/js/energycenter/energyByDay/energyByDayBody/controller.js"></script>
<script src="/js/energycenter/energyByDay/energyByDayBody/model.js"></script>
<script src="/js/energycenter/energyByDay/energyByDayBody/event.js"></script>




<div id="DB">
    
    <ploading-part id="DLpartloading" text="努力加载中..."></ploading-part>

    <div class="DB_left">
        <div class="DB_items_wrap">
            <div class="DB_items" :class="item.clicked ? 'DB_items_clicked' : void 0"  v-for="(item,index) in DAllItems" @click.stop="DUserSelItem(item)">
                <span>
                    <i class="per-bIcon"  :class="item.clicked ? 'DB_items_clicked' : void 0" v-show="item.budgetNode == 1" title="该分项为建筑的预算管理节点">M</i>
                </span>
                <span :title="item.name">{{item.name}}</span>
                <span :title="item.energyDataShow + 'kWh'" class="AMT">{{item.energyDataShow}}&nbsp;&nbsp;<a v-show="item.energyDataShow != noData">kWh</a>&nbsp;&nbsp;</span>
            </div>
        </div>
    </div>

    <div class="DB_right">

        <ploading-part id="DDR" text="努力加载中..."></ploading-part>

        <div class="DB_right_top">

            <div class="DB_dayenergy">
                <div class="DB_text0">日能耗</div>
                <div> 
                    <span class="DB_text1 tTM DB_text101" v-if="DItemEnergyData.energyData==null">{{noData}}</span>
                    <span class="DB_text1 tTM DB_text101" v-if="DItemEnergyData.energyData!=null" :title="toThousands(FON(DItemEnergyData.energyData)) + 'kWh'">{{toThousands(FON(DItemEnergyData.energyData))}}</span>
                    <span class="DB_text0" style="line-height:40px;" v-if="DItemEnergyData.energyData!=null">kWh</span>
                </div>
            </div>


            <div class="DB_dayplan">
                <div class="DB_text0">日计划</div>
                <div>
                    <span class="DB_text1 tTM DB_text101" v-if="DItemEnergyData.energyPlan==null">{{noData}}</span>
                    <span class="DB_text1 tTM DB_text101" v-if="DItemEnergyData.energyPlan!=null" :title="toThousands(Math.ceil(DItemEnergyData.energyPlan)) + 'kWh'">{{toThousands(Math.ceil(DItemEnergyData.energyPlan))}}</span>
                    <span class="DB_text0" style="line-height:40px;" v-if="DItemEnergyData.energyPlan!=null">kWh</span>
                </div>
            </div>


            <div class="DB_daypercent">
                <div class="DB_text0">日能耗占计划比</div>
                <div>
                    <span class="DB_text1" v-if="DItemEnergyData.planRatio==null">{{noData}}</span>
                    <span class="DB_text1" v-if="DItemEnergyData.planRatio!=null">{{FBI(DItemEnergyData.planRatio*100)}}</span>
                    <span class="DB_text0" v-if="DItemEnergyData.planRatio!=null">%</span>
                </div>
            </div>


            <div class="DB_daytongbi">

                <div class="clear">
                    <span class="DB_text0 DB_text102">同比</span>
                    <span class="DB_text3" :title="DItemEnergyData.sameRatioData!=null ? toThousands(FON(DItemEnergyData.sameRatioData))+'kWh' : noData">
                        <span class="grayFont DB_text102">同比能耗</span>
                        <span class="moreblackFont DB_text102 DB_text104" v-if="DItemEnergyData.sameRatioData==null">{{noData}}</span>
                        <span class="moreblackFont DB_text103 tTM AMT" v-if="DItemEnergyData.sameRatioData!=null">{{toThousands(FON(DItemEnergyData.sameRatioData))}}kWh</span>
                    </span>
                </div>

                <div>
                    <span class="DB_text2" v-if="DItemEnergyData.sameRatio==null">{{noData}}</span>
                    <span v-if="DItemEnergyData.sameRatio>0" class="DB_text2 ABM" :class="DItemEnergyData.sameRatio>=0 ? 'redFont' : 'greenFont'">+</span>
                    <span class="DB_text2 ABM" v-if="DItemEnergyData.sameRatio!=null" :class="DItemEnergyData.sameRatio>=0 ? 'text_150' : 'greenFont'">{{FBI(DItemEnergyData.sameRatio*100)}}</span>
                    <span class="DB_text4 AMT" v-if="DItemEnergyData.sameRatio!=null" :class="DItemEnergyData.sameRatio>=0 ? 'redFont' : 'greenFont'">%</span>
                </div>

            </div>


            <div class="DB_dayhuanbi">

                <div class="clear">
                    <span class="DB_text0 DB_text102">环比</span>
                    <span class="DB_text3" :title="DItemEnergyData.circleRatioData!=null ? toThousands(FON(DItemEnergyData.circleRatioData))+'kWh' : noData">
                        <span class="grayFont DB_text102">环比能耗</span>
                        <span class="moreblackFont DB_text102 DB_text104" v-if="DItemEnergyData.circleRatioData==null">{{noData}}</span>
                        <span class="moreblackFont DB_text103 tTM AMT" v-if="DItemEnergyData.circleRatioData!=null">{{toThousands(FON(DItemEnergyData.circleRatioData))}}kWh</span>
                    </span>
                </div>

                <div>
                    <span class="DB_text2" v-if="DItemEnergyData.circleRatio==null">{{noData}}</span>
                    <span v-if="DItemEnergyData.circleRatio>0" class="DB_text2 ABM" :class="DItemEnergyData.circleRatio>=0 ? 'redFont' : 'greenFont'">+</span>
                    <span class="DB_text2 ABM" v-if="DItemEnergyData.circleRatio!=null" :class="DItemEnergyData.circleRatio>=0 ? 'text_150' : 'greenFont'">{{FBI(DItemEnergyData.circleRatio*100)}}</span>
                    <span class="DB_text4 AMT" v-if="DItemEnergyData.circleRatio!=null" :class="DItemEnergyData.circleRatio>=0 ? 'redFont' : 'greenFont'">%</span>
                </div>

            </div>


        </div>


        <div class="DB_right_bottom">
            <div class="DB_R_B_wrap">
                <div class="DB_itemenergy" v-show="DSelBudgetItem">
                    <div class="DB_itemenergy_head">分项能耗统计</div>
                    <ul class="DB_itemenergy_grid">
                        <li class="DB_itemenergy_gridhead">
                            <span class="DB_lhspan1">分项</span>
                            <span class="DB_lhspan2">实际能耗 ( kWh )</span>
                            <span class="DB_lhspan3">日计划 ( kWh )</span>
                            <span class="DB_lhspan4">实际能耗占计划比</span>
                            <!-- <span class="DB_lhspan5"></span> -->
                        </li>
                        <li class="DB_itemenergy_gridli" v-for="model in DItemEnergyData.items">
                            <span class="DB_lispan1 tTM PFR" :title="model.energyItemName">{{model.energyItemName}}</span>
                            <span class="DB_lispan2 tTM AMT" :title="model.energyDataShow">{{model.energyDataShow}}</span>
                            <span class="DB_lispan3"><div class="DB_li_bar"></div></span>
                            <span class="DB_lispan4 tTM AMT" :title="model.energyPlanShow">{{model.energyPlanShow}}</span>
                            <span class="DB_lispan5 AMT" :title="model.planRatioShow" :class="model.planRatioShow != noData ? model.planRatioShow >= 100 ? 'redFont' : void 0 : void 0">
                                {{model.planRatioShow}}
                                <a v-show="model.planRatioShow != noData">%</a>
                            </span>
                            <!-- <span class="DB_lhspan5"></span> -->
                        </li>
                    </ul>
                </div>
                <div class="DB_itemenergy_head">
                    逐时能耗统计
                    <div class="energyByDayChart_Lables">
                        <span></span>&nbsp;&nbsp;实际能耗&nbsp;&nbsp;单位&nbsp;:&nbsp;kWh
                    </div>
                </div>
                <div :style="{height:DgridHeight}" id="energyByDayChart"></div>
            </div>
        </div>


    </div>
</div>