<!-- 单个预算的节点 Start -->

<script type="text/html" id="budgetnode">

    <div class="block">

            <div class="view" v-for="(item,index) in node_tree" :class="{
                firsts:(node_tree.length>1 && index==0),
                lasts:(node_tree.length>1 && index==(node_tree.length-1)),
                normal:node_tree.length==1
            }">
                <div class="code">
                    <div class="border"></div>
                    <div class="title" :title="item.energyItemName" v-text="item.energyItemName">

                    </div>
                    <div class="border" :class="{noborder:!item.childs.length}"></div>
                </div>
                <budgetnode :node_tree="item.childs"/>
            </div>
        </div>

</script>

<script>

    Vue.component('budgetnode', {
        template: "#budgetnode",
        props: ["node_tree"],
        beforeMount: function () {

            console.log(this.node_tree);
        }
    })
</script>

<!-- 单个预算的节点 End   -->

<!--  预算管理的节点  -->
<script type="text/html" id="budget_com">

            <!-- 竖线 Start  -->
            <div class="box">
                    <div class="block">
                        <div class="view">
                            <div class="code">
                                <div class="border noborder"></div>
                                <div class="title" :class="{on:budget_tree.isBudgetNode}" :title="budget_tree.energyItemName">
                                    <i></i>{{budget_tree.energyItemName}}
                                </div>
                                <div class="border"></div>
                            </div>
                            <budgetnode :node_tree="budget_tree.childs"/>
                        </div>
                    </div>
            </div>
            <!-- 竖线 End -->

</script>

<script>

    Vue.component('mybudgetnode', {
        template: "#budget_com",
        props: ["budget_tree"],
    })
</script>