<!-- 单个预算的节点 Start -->

<script type="text/html" id="plannode">

    <div class="block">

            <div class="view" v-for="(item,index) in node_tree" :class="{
                firsts:(node_tree.length>1 && index==0),
                lasts:(node_tree.length>1 && index==(node_tree.length-1)),
                normal:node_tree.length==1
            }">
                <div class="code">
                    <div class="border"></div>
                    <div class="title" @click="handler(item)" :class="{on:item.isplanNode,disabled:item.childs.length}" :title="item.energyItemName">
                            <!-- <img v-show="item.isCenterPlanNode" class="tree_icon" src="/images/energyterm/nodeManage/black.png"> -->
                            <!-- 小旗图标 Start -->
                            <div class="tree_icon" v-show="item.isCenterPlanNode">

                            </div>
                            <!-- 小旗图标 End -->

                            <em v-text="item.energyItemName"></em>
                            
                            <div class="icon" v-if="item.childs.length">
                                {{item.isplanNode?'J':'-'}}
                            </div>
                             
                    </div>
                    <div class="border" :class="{noborder:(item.isplanNode || !item.childs.length)}"></div>
                </div>
                <plannode :handler="handler" v-if="!item.isplanNode && item.childs.length" :node_tree="item.childs"/>
            </div>
        </div>

</script>

<script>

    Vue.component('plannode', {
        template: "#plannode",
        props: ["node_tree", "handler"],
    })
</script>

<!-- 单个预算的节点 End   -->

<!--  预算管理的节点  -->
<script type="text/html" id="plan_com">

            <!-- 竖线 Start  -->
            <div class="box" :style="suboptiontop">
                    <div class="block">
                        <div class="view" style="border-left: none;">
                            <div class="code">
                                <div class="border noborder"></div>
                                <!-- <div class="title" @click="handler(plan_tree)" :class="{on:plan_tree.isplanNode}" :title="plan_tree.energyItemName"> -->
                                    <div class="title" :class="{on:plan_tree.isplanNode}" :title="plan_tree.energyItemName">
                                        <i :title="'该分项为建筑的预算管理节点'"></i>
                                        <em style="width:80px;" v-text="plan_tree.energyItemName"></em>
                                    
                                        <!-- <div class="icon" v-if="plan_tree.childs.length">
                                            {{'J'}}
                                        </div> -->
                                   
                                </div>
                                <div class="border" :class="{noborder:plan_tree.isplanNode}"></div>
                            </div>
                            <plannode :handler="handler" v-if="!plan_tree.isplanNode && plan_tree.childs.length" :node_tree="plan_tree.childs"/>
                        </div>
                    </div>
            </div>
            <!-- 竖线 End -->

</script>

<script>

    Vue.component('myplannode', {
        template: "#plan_com",
        props: ["plan_tree", "suboptiontop", "handler"],
    })
</script>