<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script type="text/javascript" src="<%=host%>scripts/lib/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/lib/vue-2.2.0.min.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/Array.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/Date.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/jQueryDom.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/Math.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/Number.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/String.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/tool/ptool.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/tool/pconst.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/tool/pcolor.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/tool/pajax.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/tool/psecret.js"></script>
    <script type="text/javascript" src="<%=host%>pcontrol/flatBlueSeries_src_2.0.js"></script>

    <script src="/js/public/lodash.min.js"></script>
    <!-- highcharts Start -->
    <!-- <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/highcharts-more.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/solid-gauge.js"></script> -->
    <!-- highcharts End -->

    <script type="text/javascript" src="/js/public/highcharts.js"></script>
    <script type="text/javascript" src="/js/public/highcharts-more.js"></script>
    <script type="text/javascript" src="/js/public/solid-gauge.js"></script>

    <script type="text/javascript" src="/js/public/promise.min.js"></script>
    <script src="/js/public/public.js"></script>

    <script>
        var query = '<%=query%>';
        query = JSON.parse(psecret.parser(query));

    </script>

    <script src="/js/energyterm/download/monthtotal/model.js"></script>
    <script src="/js/energyterm/download/monthtotal/controller.js"></script>

    <link rel="stylesheet" href="/css/energyterm/download/monthtotal.css">
</head>

<body>

    <div id="monthtotal" class="monthtotal">
        <div id="part1" class="part" v-for="(mo,th) in  createSkip(96, 62, 1845, 850)(sort(EnergyDataForDayAndItem.items,'energyItemId'))">

            <!--  第一部分内容 Start -->
            <template v-if="th==0">

                <div class="tip">
                    能耗预算管理
                </div>
                <div class="title">{{buildingName}} 建筑 {{ eDate.y }} 年 {{ eDate.m }} 月能耗分析报告</div>

                <div class="item budget">
                    <div class="describe">
                        能耗预算概述
                    </div>

                    <div class="contenter">

                        <!-- 文字显示 Start  -->
                        <div class="numtitle">
                            <div class="itemer">
                                <div class="box">月能耗</div>
                                <div class="box">
                                    <div class="blacknumber" v-if="_.isNumber(MonthEnergyDataInfo.monthEnergyData)">
                                        {{MonthEnergyDataInfo.monthEnergyData | v3 | toThousands}}
                                    </div>
                                    <div class="company" v-if="_.isNumber(MonthEnergyDataInfo.monthEnergyData)">
                                        kWh
                                    </div>
                                    <div class="blacknumber" v-if="!_.isNumber(MonthEnergyDataInfo.monthEnergyData)">
                                        --
                                    </div>
                                </div>
                            </div>
                            <div class="itemer1">
                                <div class="box">月预算</div>
                                <div class="box">
                                    <div class="blacknumber" v-if="_.isNumber(MonthEnergyDataInfo.monthBudgetData)">
                                        {{MonthEnergyDataInfo.monthBudgetData | floor | toThousands}}
                                    </div>
                                    <div class="company" v-if="_.isNumber(MonthEnergyDataInfo.monthBudgetData)">
                                        kWh
                                    </div>
                                    <div class="blacknumber" v-if="!_.isNumber(MonthEnergyDataInfo.monthBudgetData)">
                                        --
                                    </div>
                                </div>
                            </div>
                            <div class="itemer2">
                                <div class="box">

                                    <div class="font">
                                        同比
                                    </div>

                                    <div class="text">
                                        同比能耗
                                    </div>

                                    <div class="number" v-if="_.isNumber(MonthEnergyDataInfo.sameRatioData)">
                                        {{MonthEnergyDataInfo.sameRatioData | v3 | toThousands}} kWh
                                    </div>
                                    <div class="number" v-if="!_.isNumber(MonthEnergyDataInfo.sameRatioData)">
                                        --
                                    </div>

                                </div>
                                <div class="box">
                                    <div class="block_proportion" v-if="_.isNumber(MonthEnergyDataInfo.sameRatio)" :class="{red:MonthEnergyDataInfo.sameRatio>0,green:MonthEnergyDataInfo.sameRatio<0}">
                                        {{MonthEnergyDataInfo.sameRatio | x100 | v3}} &nbsp;%
                                    </div>

                                    <div class="block_proportion" v-if="!_.isNumber(MonthEnergyDataInfo.sameRatio)" :class="{red:MonthEnergyDataInfo.sameRatio>0,green:MonthEnergyDataInfo.sameRatio<0}">
                                        --
                                    </div>
                                </div>
                            </div>
                            <div class="itemer3">
                                <div class="box">

                                    <div class="font">
                                        环比
                                    </div>

                                    <div class="text">
                                        环比能耗
                                    </div>

                                    <div class="number" v-if="_.isNumber(MonthEnergyDataInfo.circleRatioData)">
                                        {{MonthEnergyDataInfo.circleRatioData | v3 | toThousands}} kWh
                                    </div>
                                    <div class="number" v-if="!_.isNumber(MonthEnergyDataInfo.circleRatioData)">
                                        --
                                    </div>

                                </div>
                                <div class="box">
                                    <div class="block_proportion" v-if="_.isNumber(MonthEnergyDataInfo.circleRatio)" :class="{red:MonthEnergyDataInfo.circleRatio>0,green:MonthEnergyDataInfo.circleRatio<0}">
                                        {{MonthEnergyDataInfo.circleRatio | x100 | v3}} &nbsp;%
                                    </div>

                                    <div class="block_proportion" v-if="!_.isNumber(MonthEnergyDataInfo.circleRatio)" :class="{red:MonthEnergyDataInfo.circleRatio>0,green:MonthEnergyDataInfo.circleRatio<0}">
                                        --
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  文字显示 End   -->

                        <!--  进度表盘部分 Start  -->
                        <div class="boxer">
                            <div class="lines">
                                <div class="line">
                                    <div class="word">
                                        已过时间占比 {{MonthEnergyDataInfo.passedTimeRatio | x100 | v3}} %
                                    </div>
                                    <div class="progress">
                                        <div v-for="(item,index) in _.range(100)" :class="{energy_block:index<(+convertPercentageFn(MonthEnergyDataInfo.passedTimeRatio)>>>0),real_block:MonthEnergyDataInfo.passedTimeRatio>1}"
                                            class="state"></div>
                                    </div>
                                </div>
                                <div class="line">
                                    <div class="word">
                                        当前累计能耗占月预算比
                                        <template v-if="_.isNumber(MonthEnergyDataInfo.energyOccupyBudgetRatio)">
                                            {{MonthEnergyDataInfo.energyOccupyBudgetRatio | x100 | v3}} %
                                        </template>
                                        <template v-if="!_.isNumber(MonthEnergyDataInfo.energyOccupyBudgetRatio)">
                                            --
                                        </template>
                                    </div>
                                    <div class="progress">

                                        <div v-for="(item,index) in _.range(100)" :class="{energy_block:index<(+convertPercentageFn(MonthEnergyDataInfo.energyOccupyBudgetRatio)>>>0),real_block:MonthEnergyDataInfo.energyOccupyBudgetRatio>1}"
                                            class="state"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="lines">

                                <div class="clock">
                                    <div class="view" id="parent"></div>
                                    <div class="view" id="child"></div>
                                    <div class="ctitle">月累计能耗占当前总计划比</div>
                                    <div class="vtitle" :style="{color:MonthEnergyDataInfo.energyOccupyPlanRatio>1?'#FF7B7B':'#02A9D1'}">
                                        <template v-if="_.isNumber(MonthEnergyDataInfo.energyOccupyPlanRatio)">
                                            {{MonthEnergyDataInfo.energyOccupyPlanRatio | x100 | v3}}
                                        </template>
                                        <template v-if="!_.isNumber(MonthEnergyDataInfo.energyOccupyPlanRatio)">
                                            --
                                        </template>
                                        <span class="vt" v-if="_.isNumber(MonthEnergyDataInfo.energyOccupyPlanRatio)" :style="{color:MonthEnergyDataInfo.energyOccupyPlanRatio>1?'#FF7B7B':'#02A9D1'}">%</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--  进度表盘部分 End  -->

                    </div>

                </div>

                <div class="item budget">
                    <div class="describe">
                        逐日能耗分布
                    </div>

                    <div class="contenter">
                        <!-- 表头信息 Start -->
                        <div class="chart_title">
                            <a href="#part3">逐日能耗详情见附件1></a>

                            <div class="font">单位：kWh</div>
                            <div class="font">实际能耗高于计划　</div>
                            <div class="blockicon real_block"></div>
                            <div class="font">实际能耗低于计划</div>
                            <div class="blockicon energy_block"></div>
                            <div class="font">计划能耗</div>
                            <div class="blockicon plan_block"></div>

                        </div>
                        <!-- 表头信息 End -->

                        <!--  柱状图 Start -->
                        <div id="tio" class="chart_chart">

                        </div>
                        <!--  柱状图 End -->

                    </div>

                </div>
            </template>
            <!--  第一部分内容 End -->

            <div class="item budget">
                <div class="describe">
                    分项能耗分布
                </div>

                <div class="contenter">

                    <!-- 表头信息 Start -->
                    <div class="chart_title">
                        <a href="#part2">月分项能耗详情见附件2></a>
                    </div>
                    <!-- 表头信息 End -->

                    <!-- 表部分内容 Start  -->
                    <div class="chart_table">
                        <div class="head">
                            <div class="hitem">分项</div>
                            <div class="hitem">实际能耗</div>
                            <div class="hitem">月计划</div>
                            <div class="hitem">实际能耗占计划比</div>
                        </div>

                        <div class="body">

                            <div v-for="(item,index) in mo" class="hrow">
                                <div class="hitem" v-text="item.energyItemName">

                                </div>
                                <div class="hitem">
                                    <template v-if="_.isNumber(item.energyData)">{{item.energyData | v3 | toThousands}}　kWh</template>
                                    <template v-if="!_.isNumber(item.energyData)">--</template>
                                    <div v-if="item.energyData" class="progress" :style="width(item)"></div>
                                </div>
                                <div class="hitem">
                                    <template v-if="_.isNumber(item.monthEnergyPlan)">{{item.monthEnergyPlan | floor | v3 | toThousands}}　kWh</template>
                                    <template v-if="!_.isNumber(item.monthEnergyPlan)">--</template>
                                </div>


                                <div class="hitem" v-if="_.isNumber(item.planRatioToday)" :style="color(item.planRatioToday)">
                                    {{item.planRatioToday | x100 | v3}} %
                                </div>
                                <div class="hitem" v-if="!_.isNumber(item.planRatioToday)">
                                    --
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- 表部分内容 End    -->


                </div>

            </div>

        </div>




        <div id="part3" class="part">
            <div class="tip">
                能耗预算管理
            </div>
            <div class="describe">
                附件1：逐日能耗详情
            </div>
            <div class="ttble">

                <div class="th">
                    <div class="bitems">时间</div>
                    <div class="bitems">能耗计划（kWh）</div>
                    <div class="bitems">实际能耗（kWh）</div>
                    <div class="bitems">实际能耗占计划比</div>
                </div>

                <div class="tr" v-for="item in EnergyDataForDayAndItem.day">
                    <div class="bitems">{{new Date(item.time).format('yyyy.MM.dd')}}</div>

                    <div class="bitems" v-if="_.isNumber(item.planData)">{{item.planData | floor | toThousands}}</div>
                    <div class="bitems" v-if="!_.isNumber(item.planData)">--</div>

                    <div class="bitems" v-if="_.isNumber(item.energyData)">{{item.energyData | v3 | toThousands}}</div>
                    <div class="bitems" v-if="!_.isNumber(item.energyData)">--</div>

                    <div class="bitems" v-if="_.isNumber(item.energyData) && _.isNumber(item.planData)" :class="(item.energyData/item.planData*100) >= 1 ? 'red' : void 0">{{(item.energyData/item.planData*100) | v3}}%</div>
                    <div class="bitems" v-if="!(_.isNumber(item.energyData) && _.isNumber(item.planData))">--</div>
                </div>

            </div>
        </div>
        <div id="part2" class="part" v-for="(mo,th) in createSkip(80, 30, 1845, 0)(sort(EnergyDataForDayAndItem.items,'energyItemId'))">
            <div class="tip">
                能耗预算管理
            </div>
            <div class="describe">
                附件2：分项能耗与计划详情
            </div>
            <div class="ttble">
                <div class="th">
                    <div class="bitems">分项名称</div>
                    <div class="bitems">实际能耗（kWh）</div>
                    <div class="bitems">月计划（kWh）</div>
                    <div class="bitems">实际能耗占计划比</div>
                </div>

                <div v-for="(item,index) in mo" class="tr">
                    <div class="bitems" v-text="item.energyItemName"></div>

                    <div class="bitems" v-if="_.isNumber(item.energyData)">{{item.energyData | v3 | toThousands}}</div>
                    <div class="bitems" v-if="!_.isNumber(item.energyData)">--</div>

                    <div class="bitems" v-if="_.isNumber(item.monthEnergyPlan)">{{item.monthEnergyPlan | floor | toThousands}}</div>
                    <div class="bitems" v-if="!_.isNumber(item.monthEnergyPlan)">--</div>

                    <div class="bitems" v-if="_.isNumber(item.planRatioToday)" :class="item.planRatioToday >= 1 ? 'red' : void 0">{{item.planRatioToday | x100 | v3}} %</div>
                    <div class="bitems" v-if="!_.isNumber(item.planRatioToday)">--</div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>
<% include ../../footer.html %>