<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>能耗预算</title>

    <!-- 公用文件 Start -->
    <link rel="stylesheet" href="<%=host%>pcontrol/css/flatBlueSeries_min_2.0.css" />
    <script type="text/javascript" src="<%=host%>scripts/lib/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/lib/vue-2.2.0.min.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/Array.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/Date.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/jQueryDom.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/Math.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/Number.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/String.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/tool/ptool.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/tool/pconst.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/tool/pcolor.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/tool/pajax.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/tool/psecret.js"></script>
    <script type="text/javascript" src="<%=host%>pcontrol/flatBlueSeries_src_2.0.js"></script>
    <!-- 公用文件 End -->

    <!-- highcharts Start -->
    <!-- <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/highcharts-more.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/solid-gauge.js"></script> -->
    <!-- highcharts End -->


    <!-- highcharts Start -->
    <script type="text/javascript" src="/js/public/highcharts.js"></script>
    <script type="text/javascript" src="/js/public/highcharts-more.js"></script>
    <script type="text/javascript" src="/js/public/solid-gauge.js"></script>
    <!-- highcharts End -->

    <!-- 项目中公用文件 Start -->
    <script type="text/javascript" src="/js/public/polyfill.js"></script>
    <script type="text/javascript" src="/js/public/lodash.min.js"></script>
    <script type="text/javascript" src="/js/public/promise.min.js"></script>
    <script type="text/javascript" src="/js/public/Math.js"></script>
    <script type="text/javascript" src="/js/public/public.js"></script>
    <!-- <script type="text/javascript" src="/js/public/iscroll.js"></script> -->
    <!-- 项目中公用文件 End -->


</head>

<body>