<script src="/js/energyterm/moreBuild/controller.js"></script>
<script src="/js/energyterm/moreBuild/event.js"></script>
<script src="/js/energyterm/moreBuild/model.js"></script>

<pwindow-modal id="modalWindow" title="预警、报警设置" templateid="alarmModel"></pwindow-modal>

<!-- 多建筑列表Start -->
<div class="more_box" v-cloak v-show='onPage=="more_build"'>
    <div class="header" v-show="onBlock!='detail'&&(onBlock=='list' ? Ploading == 0 ? true : false : true)">

        <!-- 建筑选择Start -->
        <div class="build_select clickMark" v-show="Buildings.length>1" @click.capture="bodyClick(event)">
            <pcombobox-normal id="'build_select'" sel='handler_build_select' bind="true">
                <header placeholder="建筑：全部"></header>
                <item datasource="BuildingsCed" text="buildingName"></item>
            </pcombobox-normal>
        </div>
        <!-- 建筑选择End -->

        <!-- 基础设置Start -->
        <div class="build_sett clickMark" @click.capture="bodyClick(event)">
            <pcombobox-normal style="width:143px;" id="'build_setting'" sel="build_select_sel" bind="true">
                <header placeholder="基础设置"></header>
                <item datasource="[{name:'预警、报警设置',index:0},{name:'管理分项节点',index:1}]" text="name"></item>
            </pcombobox-normal>
        </div>
        <!-- 基础设置End -->
 
        <!-- 预算管理Start -->
        <div class="build_pre" @click.capture="v.initPage('budget_manage',v.instance.currentBuild.buildingId)">
            <pbutton-white text="预算管理" icon="G"></pbutton-white>
        </div>
        <!-- 预算管理End -->

        <!-- 预算管理Start -->
        <div class="build_pre downloadBtn" v-show="onBlock=='list'" @click.capture="downLoadMonthPDF()">
            <pbutton-white text="下载月能耗报告" icon="D"></pbutton-white>
        </div>
        <!-- 预算管理End -->

        <!-- 日历选择Start -->
        <div class="build_date clickMark" @click.capture="bodyClick(event)">
            <ptime-calendar id="divCalendar" orientation="down" sel="handler_date_select">
                <panel iscommontime="false" timetype="M" align="right" double="false"></panel>
            </ptime-calendar>
        </div>
        <!-- 日历选择End -->

    </div>
    <div class="content" v-show="onBlock=='more'">

        <!-- 单个建筑Start -->
        <div class="item" @click="handler_block_click(item)" v-for='(item,index) in BuildingEnergyOutlinesCed'>
            <div class="theader">

                <!-- 项目名称Start -->
                <span class="buildname" :title="item.buildingName" v-text='item.buildingName'>
                </span>
                <!-- 项目名称End -->

                <!--  Icon 标识 Start -->
                <span class="projecticon" v-if='item.isMain'>项目</span>
                <!-- Icon 标识 End -->

                <!-- 文本提示 Start -->
                <span class="title" v-if='item.buildingEnergyStatus' :class='{report_color:item.buildingEnergyStatus==2,warning_color:item.buildingEnergyStatus==1}'
                    v-text='(item.buildingEnergyStatus==1?"能耗预警 风险率":"能耗报警 超标率")+ (item.buildingEnergyStatus==1?item.warningRatio:item.alarmRatio)+(item.isToMonth?"":"(已过期)")'
                    :title='(item.buildingEnergyStatus==1?"能耗预警 风险率":"能耗报警 超标率")+ (item.buildingEnergyStatus==1?item.warningRatio:item.alarmRatio)+(item.isToMonth?"":"(已过期)")'></span>
                <!-- 文本提示 End -->

                <!-- 警告Icon Start -->
                <span class="report" v-if='item.buildingEnergyStatus' :class='{report_color:item.buildingEnergyStatus==2,warning_color:item.buildingEnergyStatus==1}'
                    v-text='item.buildingEnergyStatus==1?"V":"Q"'></span>
                <!-- 警告Icon End -->

            </div>
            <div class="tbody">
                <!-- 能耗部分 Start -->
                <div class="c_pro">

                    <div class="real_energy">

                        <!-- 实际能耗 Start -->
                        <div class="energy">
                            月能耗
                        </div>

                        <div class="number">
                            <em v-if="item.monthEnergyData" :title="v3(item.monthEnergyData)+'kWh'">{{item.monthEnergyData | v3 | toThousands}}</em>
                            <span class="company" v-if="item.monthEnergyData">kWh</span>

                            <em v-if="!item.monthEnergyData">--</em>
                        </div>
                        <!-- 实际能耗 End -->

                    </div>

                    <div class="target_energy">

                        <!-- 目标能耗 Start -->
                        <div class="energy">
                            月预算
                        </div>

                        <!--  创建过预算管理节点的情况 -->
                        <div class="number" v-if="item.monthBudgetData">
                            <em v-text='item.monthBudgetData?toThousands(item.monthBudgetData):"--"' :title="item.monthBudgetData+'kWh'"></em>
                            <span class="company" v-text='item.monthBudgetData==0?"":"kWh"'></span>
                        </div>

                        <!--  未创建预算管理节点的时候，直接链接跳转创建预算管理节点 -->
                        <div class="number" v-if="_.isNull(item.monthBudgetData) && item.isToMonth" @click.stop="Settingbudget(item)">
                            <a href="javascript:void(0)">
                                <em v-text="'设置月预算'" :title="'设置月预算'"></em>
                            </a>
                        </div>
                        <!-- 目标能耗 End -->

                        <!--  未设置预算 Start -->
                        <div class="number" v-if="_.isNull(item.monthBudgetData) && !item.isToMonth">

                            <em v-text="'未设置'" :title="'未设置'"></em>

                        </div>
                        <!--  未设置预算 End -->


                    </div>

                </div>
                <!-- 能耗部分 End -->

                <!-- 进度条文字 Start -->
                <div v-show="item.monthBudgetData" :style="{'padding-left': 'calc('+ (item.proportionNumber>100?100:item.proportionNumber) +'% - '+ (item.proportionNumber>100?100:item.proportionNumber) +'px)'}"
                    class="progress_number" class="progress_number" :class="{'blue_color':item.proportionNumber<=100,'report_color':item.proportionNumber>100}"
                    v-text='item.proportionName'>
                </div>
                <!-- 进度条文字 End -->

                <!-- 进度条部分 Start -->
                <div class="progress">
                    <!--  超过部分 -->
                    <div :style="{width:''+ item.proportionNumberBai +'%'}" class="innser_progress" :class="{'blue_bgcolor':item.proportionNumber<=100,'report_bgcolor':item.proportionNumber>100}"></div>
                </div>
                <!-- 进度条部分 End -->

            </div>
        </div>
        <!-- 单个建筑End -->

    </div>

    <div class="content" v-show="onBlock=='list'&&Ploading == 0">
        <% include ../energycenter/energyByProject/energyByProjectBody.html %>
    </div>

    <!--  日能耗详情页面Start -->
    <div v-if="onBlock=='detail'" v-show="DFirstLoading == false">
        <!-- 头部 Start -->
        <div class="sitemap">

            <!-- 返回按钮Start -->
            <div class="backbtn" @click='goPrevPage'>
                I
            </div>
            <!-- 返回按钮End -->

            <!-- 面包屑文字Start -->
            <div class="map_index">
                <em style="cursor:pointer;" @click='v.initPage("more_build")'>首页&nbsp;/&nbsp;</em>
                <span class="map_name">
                    {{currentBuild.buildingName}}日能耗与预算
                </span>
            </div>
            <!-- 面包屑文字End -->

            <!-- 预算管理Start -->
            <div class="daterightdownload downloadBtn" @click.capture="downLoadDayPDF()">
                <pbutton-white text="下载日能耗报告" icon="D"></pbutton-white>
            </div>
            <!-- 预算管理End -->

            <!-- 日历选择Start -->
            <div class="daterightdate">
                <ptime-calendar id="daterightdate" orientation="down" sel="DTimeSel">
                    <panel iscommontime="false" timetype="d" align="right" double="false"></panel>
                </ptime-calendar>
            </div>
            <!-- 日历选择End -->


        </div>
        <!-- 头部 End -->
    </div>
    <!--  日能耗详情页面 End -->

    <div class="content" v-if="onBlock=='detail'" v-show="DFirstLoading == false">
        <% include ../energycenter/energyByDay/energyByDayBody.html %>
    </div>

</div>
<!-- 多建筑列表End   -->