#index{
    width: 100%;
    /* width: 1280px; */
    height: 100%;
    position: relative;
}
#I_head{
    width: calc(100% - 40px);
    height: 30px;
    border-bottom: 1px solid #D9E2E8;
    padding: 12px 20px 10px
}
#I_head>div{
    height: 30px;
    /* font-size: 18px; */
}
#I_head>div>div{
    width: 100%;
}
.I_head_time{
    float: left;
    margin-right: 10px;
}
.I_head_combo{
    /* width: 190px; */
    width: auto;
    float: left;
    margin-right: 10px;
}
.I_head_button{
    float: left;
    width: 100px;
}
.I_head_buttonR1{
    float: right;
    margin-left: 10px;
    width: 96px;
    height: 30px;
    text-align: center;
    position: relative;
}
.I_head_buttonR1>a{
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 14px;
    font-family: perficon;
    color: #637E99;
    z-index: 5;
}
.I_head_buttonR1 .per-combobox_name{
    margin-left: 8px;
}
.I_head_buttonR2{
    float: right;
    margin-left: 10px;
    width:auto;
    min-width: 140px;
    height: 14px !important;
    padding: 7px 10px 7px;
    line-height: 14px;
    text-align: center;
    color: #637E99;
    padding-left: 30px;
    font-size: 14px !important;
    border: 1px solid #CACACA;
    position: relative;
}
.I_head_buttonR2:hover{
    cursor: pointer;
    background:#F8F8F8;
}
.I_head_buttonR2>a{
    font-size: 14px;
    line-height: 14px;
}
.I_head_buttonR2>img{
    width: 12px;
    height: 14px;
    position: absolute;
    left: 13px;
    top: 7px;
}


#I_body{
    height: 273px;
    border-bottom: 1px solid #D9E2E8;
    width: 100%;
    position: relative;
    background: #ffffff;
    overflow: hidden;
}
#I_chart{
    width: 100%;
    height: 222px;
    position: absolute;
    bottom: 16px;
    left: 0;
}
#I_chart_Avg{
    width: calc(100% - 50px);
    text-align: right;
    height: 16px;
    position: absolute;
    top: 17px;
}
#I_chart_Avg_F{
    width: calc(100% - 50px);
    text-align: right;
    height: 16px;
    margin-bottom:10px;
}
#I_chart_Avg>span,#I_chart_Avg_F>span{
    float: right;
    display: block;
}
.I_chart_AvgLine{
    width: 12px;
    height: 7px;
    margin-right: 5px;
}
.I_chart_AvgLine1{
    border-bottom: 2px dashed #8D8D8D;
}
.I_chart_AvgLine2{
    border-bottom: 2px dashed #00A8D3;
}
.I_chart_AvgText{
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    margin-right: 10px;
}
.I_chart_AvgText>a:nth-of-type(1){
    color: #333333;
}
.I_chart_AvgText>a:nth-of-type(2){
    color: #151515;
}
#I_chart_Avg:hover{
    cursor: pointer;
}

#I_foot{
    width: 100%;
    height: calc(100% - 327px);
    background: #FFF;
}
.I_foot_head,.I_foot_neck{
    height: 29px;
    line-height: 29px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #D9E2E8;
}
.I_foot_head{
    color:#000;
}
.I_foot_neck{
    color:#333333;
    background: #F8F8F8;
}
.I_foot_ul_wrap{
    overflow: hidden;
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
}
#I_foot_ul{
    /* width: calc(100% + 17px); */
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.I_foot_head>div,.I_foot_neck>div,.I_foot_li>div{
    float: left;
    height: 100%;
    font-size: 12px;
    text-align: left;
    line-height: 29px;
    position: relative;
}
.I_foot_li>div{
    line-height:49px;
}
.I_foot_little{
    width: 8px;
    height: 8px;
    display: block;
    float: left;
    margin-right: 6px;
    margin-top: 10px;
}
.I_foot_littlegray{
    background: #C3CDD0;
}
.I_foot_littleblue{
    background: #16BAE1;
}
/* 列表 */
.I_foot_li{
    /* width: 100%; */
    /* width: calc(100% - 10px); */
    height: 49px;
    border-bottom: 1px solid #EEEEEE;
    line-height: 49px;
    font-size: 12px;    
    display:block;
}
.I_foot_li:hover{
    background: #F8F8F8 !important;
    cursor: pointer;
}
/* @-moz-document url-prefix(){
    .I_foot_li{
        width: 100%;
    }
} */
.I_foot_head>span>span{
    float: left;
}
.I_foot_head i{
    height: 8px;
    line-height: 8px;
    font-size: 12px;
    display: block;
    color:#C3CDD0;
}
.I_grid_pic:hover{
    cursor: pointer;
}
.I_foot_li>.I_g_s5,.I_foot_li>.I_g_s8{
    text-indent: 1em;
}



.I_filterWindow_box{
    padding-left: 18px;
    width: 600px;
    height: 100%;
    overflow: scroll;
}
.I_filterWindow_title{
    width: 100%;
    height: 16px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
}
.I_filterWindow_bigBox{
    width: 100%;
    height: auto;
    zoom: 1;
}
.I_filterWindow_bigBox:after{ 
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.I_filterWindow_littleBox1{
    float: left;
    height: 18px;
    line-height: 18px;
    min-width: 44px;
    width: auto;
    padding: 8px 18px 6px;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 2px;
}
.I_filterWindow_littleBox1,.I_filterWindow_littleBox2:hover{
    cursor: pointer;
}
.I_filterWindow_littleBox2{
    float: left;
    height: 14px;
    line-height: 14px;
    width: 80px;
    padding: 10px 0 8px;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 2px;
}
.I_filterWindow_littleBoxSel{
    background: #00A8D3;
    color: #FFFFFF;
}
.I_filterWindow_littleBoxSelNot{
    background: #F0F3F6;
    color: #6D6D6D;
}
.I_filterWindow_button{
    width: 150px;
    height: 32px;
    margin-top: 60px;
}
.I_filterWindow_button>div{
    width: 100%;
    height: 100%;
}



.I_budgetWindow_box{
    width: 760px;
    padding: 0 20px 0;
    height: 100%;
    position: relative;
}
.I_BW_B{
    width: calc(100% - 2px);
    height: 251px;
    margin-top: 16px;
    border: 1px solid #D9E2E8;
    background: #FFFFFF;
    position: relative;
}
.I_BW_BH{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #D9E2E8;
    background: #F0F3F6;
    position: relative;
}
.I_BW_BH_button1{
    height: 20px;
    width: 90px;
    padding: 15px 0 15px 30px;
    float: left;
}
.I_BW_BH_button2{
    width: 80px;
    float: left;
    height: 30px;
    padding: 10px 0 10px 10px;
}
.I_BW_BH_icon1{
    float: right;
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 15px 0 30px 15px;
    position: relative;
}
.I_BW_BH_icon1>i{
    line-height: 20px;
    font-size: 14px;
}
.lockicon_hover_title{
    position: absolute;
    height: 20px;
    width: 100px;
    line-height: 20px;
    padding: 10px 20px 10px;
    display: none;
    top: 40px;
    left: -18px;
    border: 1px solid #f8f8f8;
    background: #FFFFFF;
    box-shadow: 0 0 3px #F8F8F8 ;
}
.I_BW_BH_icon1>i:hover .I_BW_BH_icon1>.lockicon_hover_title{
    display: block;
}
.I_BW_B_foot{
    padding: 18px 18px 18px;
    width: calc(100% - 36px);
    height: 164px;
}
.I_BW_B_foot_box{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.I_BW_B_foot_create{
    width: 100%;
    height: 30px;
    padding: 5px 0 5px;
    line-height: 30px;
    font-size: 14px;
}
.I_BW_B_foot_create_future{
    width: 100%;
    text-align: center;
}
.I_BW_B_text{
    width: 100%;
    height: 30px;
    padding: 10px 0 10px 0;
    position: relative;
}
.I_BW_B_text>span{
    float: left;
    display: block;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
}
.I_BW_B_warn{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #F87C7C;
}
.I_BW_B_text>span:nth-of-type(1){
    width: 100px;
    text-align: left;
}
.I_BW_B_text>span:nth-of-type(2){
    width: 150px;
}
.I_BW_B_foot_create>span{
    float: left;
    display: block;
}
.I_BW_B_foot_create>span:nth-of-type(1){
    width: 112px;
    height: 100%;
    color: #6D6D6D;
}
.I_BW_B_foot_create>span:nth-of-type(2){
    width:  150px;
    height: 100%;
    margin-left: 44px;
}
.I_BW_B_foot_create>span:nth-of-type(2)>div{
    width: 100%;
    text-align: right;
}
.I_BW_B_foot_box>span{
    float: left;
    display: block
}
.I_BW_B_foot_box>span:nth-of-type(1){
    width: 112px;
    height: 100%;
    color: #6D6D6D;
}
.I_BW_B_foot_box>span:nth-of-type(2){
    width: 150px;
    height: 100%;
    margin-left: 44px;
    /* color: #6D6D6D; */
    text-align: right;
}
.I_BW_B_foot_box>span:nth-of-type(2)>span{
    float: right;
}
.I_BW_B_foot_box>span:nth-of-type(2)>span:nth-of-type(2){
    color: #000000;
}
.I_BW_B_foot_box>span:nth-of-type(2)>span:nth-of-type(1){
    color: #6D6D6D;
}
.I_BW_B_foot_button{
    width: 148px;
    height: 30px;
    margin: 7px 0 7px;
    background: #F0F3F6;
}
.I_BW_B_foot_button>div{
    height: 20px;
    padding: 5px 20px 5px;
}
.I_BW_B_foot_text{
    width: 100%;
    margin: 7px 0 7px;
    height: 30px;
    position: relative;
}
.I_BW_B_foot_text>span{
    float: left;
    display: block;
    height: 30px;
    line-height: 33px;
    font-size: 14px;
}
.I_BW_B_foot_text>span:nth-of-type(1){
    width: 100px;
    text-align: left;
    color: #6D6D6D
}
.I_BW_B_foot_text>span:nth-of-type(2){
    width:calc(100% - 100px);
}
.indexRemarkWarn{
    width: 100%;
    position: absolute;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #FA91A6;
    left: 100px;
}
#IRW1,#IRW4{
    top: 33px;
}
#IRW2,#IRW3{
    bottom: -6px;
}
.I_budgetWindow_title{
    width: 100%;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    margin: 30px 0 10px;
}

.I_budgetWindow_scroll{
    width: 100%;
    height: calc(100% - 298px);
    padding-bottom: 20px;
    overflow: hidden;
}
.I_budgetWindow_scroll_wrap{
    width: calc(100% + 20px);
    /* padding-right: 20px; */
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
.I_budgetWindow_scroll_box{
    width: 760px;
    height: auto;
}

.I_BW_BO{
    width: calc(100% -2px);
    height: auto;
    border: 1px solid #D9E2E8;
}
.I_BW_BO>ul{
    width: 100%;
    height: auto;
    list-style-type: none;
}
.I_BW_BO>ul>li{
    border-bottom: 1px solid #D9E2E8;
    width: 100%;
    font-size: 12px;
    min-height: 16px;
    height: auto;
    line-height: 16px;
}
.I_BW_BO_lh{
    padding: 7px 0 7px;
    background: #EAEEF0;
    color:#000;
}
.I_BW_BO_li{
    padding: 11px 0 11px;
    zoom: 1;
    position: relative;
}
.I_BW_BO_li:after{ 
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.I_BW_BO>ul>li:nth-last-of-type(1){
    border-bottom: none;
}
.I_BW_BO_lh>span{
    float: left;
    display: block;
}
.I_BW_BO>ul>li>span:nth-of-type(1){
    width: 22%;
    text-indent: 2em;
}
.I_BW_BO>ul>li>span:nth-of-type(2){
    width: 12%;
}
.I_BW_BO>ul>li>span:nth-of-type(3){
    width: 11%;
}
.I_BW_BO>ul>li>span:nth-of-type(4){
    width: 14%;
    margin-right: 2%;
}
.I_BW_BO>ul>li>span:nth-of-type(5){
    width: 39%;
}
.I_BW_BO_li>span:nth-of-type(5){
    float: right;
}
.I_BW_BO_SAH{
    position: absolute;
    height: 16px;
    top: calc(50% - 8px);
    overflow: hidden;
    text-overflow: ellipsis;
}
.I_BW_BO_SAH:nth-of-type(1){
    left: 0;
    text-indent: 1em !important;
}
.I_BW_BO_SAH:nth-of-type(2){
    left: 22%;
    text-align: left;
}
.I_BW_BO_SAH:nth-of-type(3){
    left: 34%;
    text-align: left;
}
.I_BW_BO_SAH:nth-of-type(4){
    left: 42%;
    text-align: right;
}
.I_budgetWindow_title_history{
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
    margin-bottom: 7px;
}
.I_budgetWindow_title_history>span{
    float: right;
    display: block;
    height: 100%;
    line-height: 18px;
    font-size: 12px;
}
.I_budgetWindow_title_history>span:nth-of-type(1){
    color: #6D6D6D;
}
.I_budgetWindow_littleColor{
    width: 10px;
    height: 10px !important;
    margin-top: 4px;
    display: block;
    margin-right: 8px;
}
.littlegray{
    background: #C3CDD0;
}
.littleBlue{
    background: #02A9D1;
}
.I_budgetWindow_title_text1{
    color: #6D6D6D;
    margin-right: 22px;
}

.I_BW_H{
    width: 100%;
    height: auto;
}
.I_BW_H_one{
    width: 100%;
    height: 48px;
}
.I_BW_H_time{
    padding: 12px 9px 12px;
    width: 54px;
    height: 24px;
    text-align: center;
    float: left;
}
.I_BW_H_time>div{
    line-height: 18px;
    height: 12px;
    font-size: 12px;
}
.I_BW_H_time>div:nth-of-type(2){
    background:#f6f6f6;
    line-height:16px;
    margin-top:3px;
    height:16px;
    border-radius:10px;
}
.I_BW_H_timeH{
    color: #6D6D6D;
    font-family:ArialMT;
}
.I_BW_H_timeHN{
    color: #333333;
    font-family:Arial-BoldMT;
}
.I_BW_H_bar{
    width: 380px;
    margin-right:20px;
    height: 24px;
    padding: 12px 0 12px 0;
    float: left;
}
.I_BW_H_bar>div{
    height: 12px;
}
.I_BW_H_bar1{
    background: #C3CDD0;
}
.I_BW_H_bar2{
    background: #02A9D1;
}

.I_BW_H_data{
    display: none;
    float: left;
    width: calc(100% - 512px);
    padding: 4px 10px 4px 30px;
    height: 40px;
}
.I_BW_H_data>span{
    float: left;
    height: 100%;
    display: block;
    text-align: center;
}
.I_BW_H_data>span>div{
    overflow: hidden;
    text-overflow: ellipsis;
}
.I_BW_H_data>span:nth-of-type(1){
    width: 30%;
}
.I_BW_H_data>span:nth-of-type(2){
    width: 30%;
}
.I_BW_H_data>span:nth-of-type(3){
    width: 40%;
}
.I_BW_H_data>span>div:nth-of-type(1){
    height: 20px;
    line-height: 24px;
    font-size: 12px;
    color: #6D6D6D;
}
.I_BW_H_data>span>div:nth-of-type(2){
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: #151515;
}
.I_BW_H_hover{
    background: #F6F6F6;
}
.I_BW_H_hover>.I_BW_H_data{
    display: block;
}

 




.I_BW_BO_nodata{
    width: calc(100% - 2px);
    height: 80px;
    padding: 30px 0 30px 0;
    /* background: #000000; */
    border: 1px solid #EEEEEE;
    text-align: center;
    position: relative;
}

#BudgetWindowTS{
    width: 320px;
    height: 128px;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    padding: 10px 20px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    z-index:102;
    top: 145px;
    right: 360px;
}
.BudgetWindowTS_t1{
    width: 100%;
    font-size: 16px;
    line-height: 34px;
    text-align: left;
    height: 34px;
}
.BudgetWindowTS_t2{
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #6d6d6d;
    text-align: left;
}
.BudgetWindowTS_but{
    width: 200px;
    margin: 20px 0px 0 60px;
    height: 30px;
}
.BudgetWindowTS_but>div{
    width: 80px;
    height: 30px;
    float: left;
}
.BudgetWindowTS_but>div:nth-of-type(1){
    margin: 0 20px 0;
}
#I_shadow{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    display: none;
}
.I_BW_BO_St1{
    float: right;
}




#Chartwrap{
    width: 1280px;
    height: 200px;
    display: none;
}
#ChartF{
    width: 1280px;
    height: 200px;
}

.avgly{
    color: #0094c2 !important;
}
.avglr{
    color: #898989 !important;
}
.avgh{
    color: #999999 !important;
}
.ABM{
    font-family: Arial-BoldMT;
}
.AMT{
    font-family: ArialMT;
}
.MSYB{
    font-family : MicrosoftYaHei-Bold;
}
.PFR{
    font-family : PingFangSC-Regular;
}


#I_chart_shadow{
    width:calc(100% - 120px);
    padding : 43px 60px 30px;
    height: 200px;
    background:white;
    position:absolute;
    z-index:80;
}
#I_chart_shadow>div{
    background:#F8F8F8;
    width:100%;
    height:100%;
}
#I_head_ptab .per-tab-button_item{
    width: 100px;
}
/* #index #Grid{
    width: 100%;
    height: calc(100% - 60px);
} */



#I_foot .wid0{
    width: 2.5%;
    text-align:center;
    color:#6D6D6D;
}

/* var a = 2.5 + 14.5 +9.8+10.5+10.7+15.6+9.8+9.8+7.9+11.3 */
#I_foot .wid1{
    width: 14.5%;
}
#I_foot .wid2{
    width: 9.8%;
}
#I_foot .wid3{
    width: 10.5%;
}
#I_foot .wid4{
    width: 10.7%;;
}
#I_foot .wid5{
    width: 15.6%;
}
#I_foot .wid6{
    width: 9.8%;
}
#I_foot .wid7{
    width: 9.8%;
}
#I_foot .wid8{
    display:none;
}
#I_foot .wid9{
    display:none;
}
#I_foot .wid10{
    width: 6.9%;
    text-align: right;
}
#I_foot .wid11{
    width: 9.9%;
    text-align: center;
}
#I_foot .wid11 em{
    font-size: 12px !important;
}
#I_foot .wid12{
    width: 42.1%;
}


#I_foot .wid31{
    width: 12.3%;
}
#I_foot .wid32{
    width: 7.6%;
}
#I_foot .wid33{
    width: 8.3%;
}
#I_foot .wid34{
    width: 10.5%;;
}
#I_foot .wid35{
    width: 10.4%;
}
#I_foot .wid36{
    width: 7.6%;
}
#I_foot .wid37{
    width: 7.6%;
}
#I_foot .wid38{
    width: 11.5%;
}
#I_foot .wid39{
    width: 8.2%;
}
#I_foot .wid40{
    width: 6.7%;
}
#I_foot .wid41{
    width: 6.8%;
    text-align: center;
}
#I_foot .wid41 em{
    font-size: 12px !important;
}
#I_foot .wid42{
    width: 52%;
}


#I_foot .wid61{
    width: 9.3%;
}
#I_foot .wid62{
    width: 7.6%;
}
#I_foot .wid63{
    width: 8.3%;
}
#I_foot .wid64{
    width: 8.5%;;
}
#I_foot .wid65{
    width: 14.4%;
}
#I_foot .wid66{
    width: 6.6%;
}
#I_foot .wid67{
    width: 6.6%;
}
#I_foot .wid68{
    width: 14.5%;
}
#I_foot .wid69{
    width: 9.2%;
}
#I_foot .wid70{
    width: 5.7%;
    text-align: right;
}
#I_foot .wid71{
    width: 6.8%;
    text-align: center;
}
#I_foot .wid71 em{
    font-size: 12px !important;
}
#I_foot .wid72{
    width: 57%;
}



#I_foot .lookplan{
    width: 48px;
    text-align: right;
}


.I_grid_pic{
    margin-left: 5px;
    margin-top: 6px;
    width: 16px;
    height: 16px;
}
.I_foot_head>div>div{
    float: left;
}

.greyFont{
    color: #CACACA;
}
.grayblueFont{
    color:#637E99;
}