#energyByDayBox{
    width: 100%;
    height: calc(100% - 1px);
    border-top: 1px solid #D9E2E8;
}
.energyByDayBody_left{
    width: 280px;
    height: 100%;
    float: left;
    overflow: hidden;
    border-right: 1px solid #D9E2E8;
}
.energyByDayBody_right{
    width: calc(100% - 281px);
    height: 100%;
    float: left;
}
.energyByDayBody_right_top{
    width: 100%;
    height: 145px;
    border-bottom: 1px solid #D9E2E8;
}
.energyByDayBody_right_bottom{
    width: 100%;
    height: calc(100% - 146px);
    overflow: scroll;
}
.energyByDayBody_itemenergy{
    width: 100%;
    height: auto;
}
.energyByDayBody_energyhour1{
    width: 100%;
    min-height: 200px !important;
}
.energyByDayBody_energyhour2{
    width: 100%;
    height: 100%;
}


.energyByDayBody_items_wrap{
    width: 300px;
    height: 100%;
    overflow: scroll;
}
.energyByDayBody_items{
    width: 280px;
    height: 50px;
    border-bottom: 1px solid #D9E2E8;
}
.energyByDayBody_items:hover{
    background: #02A9D1 !important;
    color: white !important;
}
.energyByDayBody_items:hover span:nth-of-type(1)>i{
    color: white !important; 
}
.energyByDayBody_items>span{
    float: left;
    height: 50px;
    line-height: 50px;
    display: block;
    font-size: 14px;
}
.energyByDayBody_items>span:nth-of-type(1){
    width: 42px;
}
.energyByDayBody_items>span:nth-of-type(1)>i{
    color: #151515;
    margin-left: 14px;
    margin-top: 18px;
}
.energyByDayBody_items>span:nth-of-type(2){
    width: 100px;
    text-align: left;
}
.energyByDayBody_items>span:nth-of-type(3){
    width: 133px;
    text-align: right;
}



.energyByDayBody_right_top>div{
    float: left;
    height: 72px;
    padding: 20px 0 53px 80px;
}
.energyByDayBody_dayenergy,.energyByDayBody_dayplan,.energyByDayBody_daypercent{
    width: calc(16% - 80px);
}
.energyByDayBody_daytongbi,.energyByDayBody_dayhuanbi{
    width: calc(26% - 80px);
}
.energyByDayBody_text0{
    font-size: 14px;
    line-height: 36px;
    color: #333333;
}
.energyByDayBody_text1{
    font-size: 24px;
    line-height: 36px;
    color: #151515;
    font-weight: 600;
}
.energyByDayBody_text2{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}
.energyByDayBody_text3{
    background: #F4F6F9;
    width: auto;
    height: 22px;
    font-size: 12px;
    padding: 5px 5px;
    border-radius: 20px;
}
.energyByDayBody_text4{
    font-size: 14px;
    line-height: 36px;
}