#app,.body,#lookPlan{
    width: 100%;
    height: 100%;
}
.lookPlan_head{
    width: calc(100% - 60px);
    margin: 0 30px 12px;
    padding-top: 48px;
    height: 30px;
    line-height: 30px;
}
.lookPlan_head>div{
    float: right;
}
#lookPlan_grid{
    width: calc(100% - 60px);
    margin: 0 auto;
    height: calc(100% - 120px);
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
}
/* .lookPlan_grid_wrap{
    width: 3000px;
    height: auto;
    font-size: 12px;
} */
.clear{
    zoom: 1;
}

.clear:after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
} 



.zhanwei{
    width: 100%;
    height: 30px;
}
.lookPlan_grid_head{
    height: 30px;
    background: #8B9599;
    font-size: 12px;
    line-height: 30px;
    color: white;
}
.lookPlan_grid_head>span{
    float: left;
    display: block;
    width: 141px;
    height: 100%;
}
.lookPlan_grid_head>span:nth-of-type(1){
    width: 52px;
}
.lookPlan_grid_body{
    height: auto;
    max-height: calc(100% - 30px);
    overflow: scroll;
}
.lookPlan_grid_tr{
    height: 32px;
    width: 100%;
    line-height: 32px;
}
.lookPlan_grid_tr:nth-of-type(even){
    background: #F7F7F7;
}
.lookPlan_grid_tr>span{
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    height: 31px;
    width: 140px;
    display: block;
    float: left;
}
.lookPlan_grid_tr>span:nth-of-type(1){
    width: 50px;
    border-left:  1px solid #CCCCCC;
}