.highcharts-tooltip > span {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    background: #fff;
}

    .highcharts-tooltip > span > span:first-child {
        color: #666;
        line-height: 29px;
        border-bottom: 1px solid #d2d2d2;
        font-size: 14px;
    }

    .highcharts-tooltip > span > span {
        display: block;
        height: 29px;
        line-height: 29px;
        padding: 0 8px;
        font-size: 14px;
        color: #333;
    }

.budgetMangeWrap {
    height: 100%;
    background: #F0F3F6;
    padding: 14px 10px 0px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

    .budgetMangeWrap .picEm {
        color: #7A94AD;
        font-family: 'perficon';
        margin-right: 6px;
        vertical-align: top;
    }

    .budgetMangeWrap .budgetPop {
        width: 300px;
        box-shadow: 0 0 7px rgba(0,0,0,0.2);
        background: #fff;
        overflow: hidden;
        border-radius: 2px;
        padding: 10px 20px;
        /*padding: 10px 16px 10px 20px;*/
        box-sizing: border-box;
        position: absolute;
        top: 18px;
        left: 10px;
        display: none;
        z-index: 3;
    }

        .budgetMangeWrap .budgetPop .popTitle {
            font-size: 14px;
            line-height: 20px;
        }

        .budgetMangeWrap .budgetPop .popSubtitle {
            font-size: 12px;
            color: #6d6d6d;
            margin-top: 8px;
        }

        .budgetMangeWrap .budgetPop .popButton {
            margin-top: 14px;
            overflow: hidden;
        }

    .budgetMangeWrap .disabled {
        cursor: default !important;
        opacity: .3;
    }

    .budgetMangeWrap .budManCont {
        height: 100%;
        background: #ffffff;
        box-sizing: border-box;
        position: relative;
        box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.05);
        border-radius: 6px 6px 0 0;
    }

    .budgetMangeWrap .budManHeader {
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #637E99;
        overflow: hidden;
        font-size: 18px;
        border-bottom: 1px solid #D9E2E8;
        padding: 0 20px;
        box-sizing: border-box;
    }

        .budgetMangeWrap .budManHeader .leftTitle {
            float: left;
            font-size: 14px;
        }

        .budgetMangeWrap .budManHeader .line {
            margin: 0 3px;
        }

        .budgetMangeWrap .budManHeader .boldColor {
            color: #151515;
        }

        .budgetMangeWrap .budManHeader .backButton {
            vertical-align: middle;
            margin-right: 4px;
            display: inline-block;
            height: 30px;
            line-height: 0;
        }

    .budgetMangeWrap .monthBudgets {
        background: #F8F8F8;
        padding: 10px 8px;
    }

        .budgetMangeWrap .monthBudgets:after {
            content: '';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .budgetMangeWrap .monthBudgets .leftButton {
            float: left;
        }

        .budgetMangeWrap .monthBudgets .rightButton {
            float: right;
        }

        .budgetMangeWrap .monthBudgets .norButton {
            width: 30px;
            height: 280px;
            border: 1px solid #D9E2E8;
            box-sizing: border-box;
            text-align: center;
            line-height: 280px;
        }

            .budgetMangeWrap .monthBudgets .norButton:hover {
                background: #ffffff;
            }

            .budgetMangeWrap .monthBudgets .norButton span {
                font-family: 'perficon';
                font-size: 18px;
                color: #7A94AD;
            }

        .budgetMangeWrap .monthBudgets .monthBlocks {
            float: left;
            margin: 0 8px;
        }

        .budgetMangeWrap .monthBudgets .itemBlock {
            float: left;
            width: 278px;
            height: 280px;
            box-sizing: border-box;
            border: 1px solid #D9E2E8;
            background: #ffffff;
            margin-right: 8px;
            position: relative;
        }


            .budgetMangeWrap .monthBudgets .itemBlock:last-child {
                margin-right: 0px;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .blockTitle {
                height: 48px;
                line-height: 48px;
                border-bottom: 1px solid #D9E2E8;
                padding: 0 16px;
                font-size: 14px;
                color: #333333;
            }

                .budgetMangeWrap .monthBudgets .itemBlock .blockTitle .now {
                    background: #02A9D1;
                    font-size: 12px;
                    color: #ffffff;
                    width: 30px;
                    height: 14px;
                    text-align: center;
                    line-height: 14px;
                    border-radius: 2px;
                    display: inline-block;
                }

            .budgetMangeWrap .monthBudgets .itemBlock .remark {
                float: right;
                color: #637E99;
                line-height: 1;
                margin-top: 16px;
                cursor: pointer;
                font-size: 12px;
            }


            .budgetMangeWrap .monthBudgets .itemBlock .lineInfo {
                line-height: 1;
                font-size: 12px;
                color: #6D6D6D;
                margin-top: 18px;
                padding: 0 20px;
                clear: both;
            }

                .budgetMangeWrap .monthBudgets .itemBlock .lineInfo .newWrap {
                    display: inline-block;
                    position: relative;
                }

                .budgetMangeWrap .monthBudgets .itemBlock .lineInfo .hasNew {
                    background: #7A94AD;
                    color: #ffffff;
                    border-radius: 3px;
                    padding: 2px 7px;
                    cursor: pointer;
                }

                    .budgetMangeWrap .monthBudgets .itemBlock .lineInfo .hasNew:hover {
                        background: #637E99;
                    }

                    .budgetMangeWrap .monthBudgets .itemBlock .lineInfo .hasNew em {
                        color: #ffffff;
                        margin-right: 4px;
                    }

            .budgetMangeWrap .monthBudgets .itemBlock .newWrap .budgetPop {
                width: 336px;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .infoData {
                float: right;
                font-size: 14px;
                color: #333333;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .smallFont {
                font-size: 12px;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .blackFont {
                color: #333333;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .unitFont {
                font-size: 12px;
                margin-left: 4px;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .redFont {
                color: #FF7B7B;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .bCont {
                padding-top: 2px;
                height: 180px;
                box-sizing: border-box;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .planLine {
                line-height: 1;
                margin-top: 16px;
                padding: 0 20px;
                clear: both;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .checkPlan {
                color: #637E99;
                font-size: 12px;
                cursor: pointer;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .editPlan {
                color: #7A94AD;
                font-family: 'perficon';
                font-size: 14px;
                float: right;
                cursor: pointer;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .downPlan {
                color: #7A94AD;
                font-family: 'perficon';
                font-size: 14px;
                float: right;
                margin-left: 20px;
                cursor: pointer;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .createPlan {
                color: #637E99;
                font-size: 12px;
                cursor: pointer;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .bBottom {
                height: 48px;
                line-height: 46px;
                border-top: 1px solid #D9E2E8;
                padding: 0 16px;
                color: #637E99;
                font-size: 14px;
            }


            .budgetMangeWrap .monthBudgets .itemBlock .editBudget {
                cursor: pointer;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .downBudget {
                float: right;
                line-height: 1;
                margin-top: 15px;
                cursor: pointer;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .blockEdit {
                /*padding: 0px 30px 0 20px;*/
                position: relative;
            }

                .budgetMangeWrap .monthBudgets .itemBlock .blockEdit .sign {
                    color: #fd7b3d;
                    font-size: 12px;
                    padding-left: 20px;
                    line-height: 16px;
                    height: 16px;
                }

                    .budgetMangeWrap .monthBudgets .itemBlock .blockEdit .sign span {
                        background: #f8f8f8;
                    }

                .budgetMangeWrap .monthBudgets .itemBlock .blockEdit .bInput {
                    margin-bottom: 20px;
                    padding: 0px 30px 0 20px;
                }

                .budgetMangeWrap .monthBudgets .itemBlock .blockEdit .bText {
                    height: 56px;
                    margin-bottom: 16px;
                    padding: 0px 30px 0 20px;
                }

            .budgetMangeWrap .monthBudgets .itemBlock .editButton {
                padding: 0 30px;
                position: relative;
            }

                .budgetMangeWrap .monthBudgets .itemBlock .editButton:after {
                    content: '';
                    display: block;
                    height: 0;
                    clear: both;
                    visibility: hidden;
                }

                .budgetMangeWrap .monthBudgets .itemBlock .editButton .budgetPop {
                    top: 34px;
                    right: -190px;
                    left: auto;
                }

            .budgetMangeWrap .monthBudgets .itemBlock .editCancel {
                float: right;
                height: 30px;
                line-height: 30px;
                margin-right: 20px;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .blockEdit .bConnect {
                position: absolute;
                top: 29px;
                right: 19px;
                width: 12px;
                height: 52px;
                background: url(/images/energyterm/budgetManage/connect.png) no-repeat center center;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .changeButton {
                text-align: center;
            }

            .budgetMangeWrap .monthBudgets .itemBlock .createPanel {
                height: 230px;
                line-height: 230px;
                text-align: center;
                color: #637E99;
                cursor: pointer;
            }

    .budgetMangeWrap .budgetFloat {
        width: 800px;
        padding: 20px 20px 0;
        box-sizing: border-box;
        position: relative;
        height: 100%;
    }

        /*.budgetMangeWrap .budgetFloat .remarkTitle {
            height: 48px;
            background: #F0F3F6;
            border: 1px solid #D9E2E8;
            padding-left: 18px;
            color: #637E99;
            line-height: 48px;
        }*/
        .budgetMangeWrap .budgetFloat .remarkTitle {
            margin-bottom: 14px;
        }

        .budgetMangeWrap .budgetFloat .remarkText {
            height: 50px;
        }

        .budgetMangeWrap .budgetFloat .remarkSave {
            float: right;
            margin-top: 18px;
            height: 30px;
        }

        .budgetMangeWrap .budgetFloat .reportTitle {
            clear: both;
            margin-bottom: 14px;
            padding-top: 10px;
        }

        .budgetMangeWrap .budgetFloat .reportTable {
            position: absolute;
            top: 194px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            box-sizing: border-box;
            padding-top: 30px;
        }

        .budgetMangeWrap .budgetFloat .tableHead {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: #EAEEF0;
            color: #000000;
            font-size: 12px;
            overflow: hidden;
            border: 1px solid #D9E2E8;
            box-sizing: border-box;
        }

        .budgetMangeWrap .budgetFloat .tableCont {
            max-height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            overflow-y: overlay;
            border: 1px solid #D9E2E8;
            border-top: none;
            box-sizing: border-box;
        }

        .budgetMangeWrap .budgetFloat .tableLine {
            color: #151515;
            font-size: 12px;
            overflow: hidden;
            border-bottom: 1px solid #D9E2E8;
        }

            .budgetMangeWrap .budgetFloat .tableLine:last-child {
                border-bottom: none;
            }

            .budgetMangeWrap .budgetFloat .tableLine:after {
                content: '';
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }

        .budgetMangeWrap .budgetFloat .tableHead > li {
            height: 28px;
            line-height: 28px;
        }

        .budgetMangeWrap .budgetFloat .tableLine > li {
            height: 40px;
            line-height: 40px;
        }

        .budgetMangeWrap .budgetFloat .tableUl > li {
            float: left;
            padding-left: 20px;
            box-sizing: border-box;
        }

            .budgetMangeWrap .budgetFloat .tableUl > li:nth-child(1) {
                width: 138px;
            }

            .budgetMangeWrap .budgetFloat .tableUl > li:nth-child(2) {
                width: 88px;
            }

            .budgetMangeWrap .budgetFloat .tableUl > li:nth-child(3) {
                width: 106px;
            }

            .budgetMangeWrap .budgetFloat .tableUl > li:nth-child(4) {
                text-align: right;
                padding-right: 20px;
                width: 134px;
            }

            .budgetMangeWrap .budgetFloat .tableUl > li:nth-child(5) {
                width: 286px;
                padding-right: 20px;
            }

        .budgetMangeWrap .budgetFloat .tableUl .remarkTd {
            display: table;
        }

        .budgetMangeWrap .budgetFloat .tableUl .cell {
            line-height: 16px;
            display: table-cell;
            vertical-align: middle;
        }

    .budgetMangeWrap .budManCont .chartWrap {
        height: calc(100% - 350px);
        height: -moz-calc(100% - 350px );
        height: -webkit-calc(100% - 350px);
    }

        .budgetMangeWrap .budManCont .chartWrap .chartTitle {
            padding-left: 20px;
            color: #141F2A;
            font-size: 16px;
            height: 50px;
            line-height: 60px;
        }

        .budgetMangeWrap .budManCont .chartWrap .chartSubtile {
            padding-top: 14px;
            font-size: 12px;
            color: #6D6D6D;
            text-align: right;
            padding-right: 30px;
            height: 40px;
            box-sizing: border-box;
        }

            .budgetMangeWrap .budManCont .chartWrap .chartSubtile .label {
                margin-right: 12px;
            }

                .budgetMangeWrap .budManCont .chartWrap .chartSubtile .label em {
                    height: 10px;
                    width: 10px;
                    display: inline-block;
                    margin-right: 4px;
                }

            .budgetMangeWrap .budManCont .chartWrap .chartSubtile .plan em {
                background: #D9E2E8;
            }

            .budgetMangeWrap .budManCont .chartWrap .chartSubtile .real em {
                background: #02A9D1;
            }

            .budgetMangeWrap .budManCont .chartWrap .chartSubtile .over em {
                background: #F89054;
            }

        .budgetMangeWrap .budManCont .chartWrap .chartCont {
            height: calc(100% - 90px);
            height: -moz-calc(100% - 90px );
            height: -webkit-calc(100% - 90px);
        }


    .budgetMangeWrap .itemPlanFloat {
        width: 480px;
        height: 100%;
        padding-top: 38px;
        box-sizing: border-box;
        position: relative;
    }

        .budgetMangeWrap .itemPlanFloat .pieChart {
            width: 240px;
            height: 240px;
            margin: 0 auto 40px;
        }

        .budgetMangeWrap .itemPlanFloat .chartInfo {
            position: absolute;
            top: 318px;
            left: 0;
            width: 100%;
            border-top: 1px solid #eeeeee;
            bottom: 20px;
            overflow-y: auto;
            padding: 28px 0 0 72px;
            box-sizing: border-box;
        }

            .budgetMangeWrap .itemPlanFloat .chartInfo .infoUl {
                margin-bottom: 28px;
                height: 14px;
            }

                .budgetMangeWrap .itemPlanFloat .chartInfo .infoUl:last-child {
                    margin-bottom: 0;
                }

                .budgetMangeWrap .itemPlanFloat .chartInfo .infoUl > li {
                    float: left;
                    line-height: 14px;
                }

                .budgetMangeWrap .itemPlanFloat .chartInfo .infoUl .circle {
                    width: 30px;
                }

                    .budgetMangeWrap .itemPlanFloat .chartInfo .infoUl .circle > span {
                        width: 12px;
                        height: 12px;
                        background: #02A9D1;
                        border-radius: 50%;
                        display: inline-block;
                    }

                .budgetMangeWrap .itemPlanFloat .chartInfo .infoUl .name {
                    width: 160px;
                }

                .budgetMangeWrap .itemPlanFloat .chartInfo .infoUl .value {
                    width: 170px;
                }

                .budgetMangeWrap .itemPlanFloat .chartInfo .infoUl .unit {
                    margin-left: 3px;
                }

    .budgetMangeWrap .idayPlanFloat {
        position: absolute;
        width: 100%;
        height: 400px;
        left: 0;
        bottom: 0;
        box-shadow: 0 10px 30px rgba(0,0,0,0.2);
        background: #fff;
        transition: .5s;
        z-index: 20;
        display: none;
    }

        .budgetMangeWrap .idayPlanFloat .floatHead {
            height: 56px;
            font-size: 16px;
            line-height: 64px;
            padding: 0 30px;
        }

            .budgetMangeWrap .idayPlanFloat .floatHead .close {
                float: right;
                color: #7A94AD;
                font-family: 'perficon';
                cursor: pointer;
            }

        .budgetMangeWrap .idayPlanFloat .columnChart {
            height: 342px;
        }

    .budgetMangeWrap .planSetWindow {
        width: 1180px;
        height: 680px;
        padding: 50px 0 0 60px;
        box-sizing: border-box;
    }

.per-modal-global { /*undo*/
    width: auto;
    height: auto;
}

.budgetMangeWrap .planSetWindow .explainHead {
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold;
}

.budgetMangeWrap .planSetWindow .stitle {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: bold;
}

.budgetMangeWrap .planSetWindow .scont {
    font-size: 14px;
}

.budgetMangeWrap .planSetWindow .what {
    margin-bottom: 30px;
}

.budgetMangeWrap .planSetWindow .stepUl {
    margin-top: 18px;
    margin-bottom: 20px;
}

    .budgetMangeWrap .planSetWindow .stepUl li {
        height: 18px;
        line-height: 18px;
        margin-bottom: 16px;
    }

        .budgetMangeWrap .planSetWindow .stepUl li:last-child {
            margin-bottom: 0;
        }

        .budgetMangeWrap .planSetWindow .stepUl li .num {
            background: #02A9D1;
            width: 18px;
            height: 18px;
            line-height: 18px;
            border-radius: 50%;
            margin-right: 10px;
            font-size: 12px;
            text-align: center;
            display: inline-block;
            color: #ffffff;
        }

.budgetMangeWrap .planSetWindow .imgExplain {
    width: 1026px;
    height: 170px;
    background: url(/images/energyterm/budgetManage/imgExplain.png) no-repeat top left;
    background-size: 100%;
}

.budgetMangeWrap .planSetWindow .chooseButton {
    height: 84px;
    margin-top: 58px;
}

    .budgetMangeWrap .planSetWindow .chooseButton .leftCheck {
        margin-top: 30px;
        float: left;
    }

    .budgetMangeWrap .planSetWindow .chooseButton .rigthButton {
        float: right;
        margin-top: 24px;
        margin-right: 90px;
        height: 30px;
        line-height: 30px;
    }

        .budgetMangeWrap .planSetWindow .chooseButton .rigthButton .btitle {
            font-size: 16px;
            vertical-align: text-bottom;
            margin-right: 14px;
        }
