html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}

#app{
    width: 100%;
    height: 100%;
}

.body{
    background: #F0F3F6;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.clear{
    zoom: 1;
}

.clear:after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
} 
.tTM{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    word-wrap: break-word;
}

.redFont{
    color: #F87C7C !important;
}
.greenFont{
    color: #68C5B3 !important;
}
.grayFont{
    color: #6D6D6D !important;
}
.moreblackFont{
    color: #151515 !important;
    font-weight: 500;
}
.blackFont{
    color: #151515;
}
.blackFont3{
    color: #333333 !important;
}
[v-cloak]{
    display: none !important;
}
.wordAuto{
    word-wrap:break-word;
    overflow:hidden;
}