<% include ../../header.html %>

    <!-- 单个F的公共样式 Start  -->
    <link rel="stylesheet" href="/css/energyterm/nodeManage/public.css">
    <!-- 单个F的公共样式 Start  -->


    <!--  加载对应的CSS Start -->
    <link rel="stylesheet" href="/css/energyterm/nodeManage/moreBuild.css">
    <link rel="stylesheet" href="/css/energyterm/nodeManage/subOption.css">
    <link rel="stylesheet" href="/css/energyterm/nodeManage/budget.css">
    <link rel="stylesheet" href="/css/energyterm/nodeManage/plan.css">
    <!--  加载对应的CSS End   -->

    <!-- 加载需要的组件 Start -->
    <% include ./component/budget_com.html %>
        <% include ./component/plan_com.html %>

            <!-- 成功失败提示 -->
            <pnotice-message id="globalnotice"></pnotice-message>


            <!-- 挂载DOM -->
            <div id="app">
                <div class="body">

                    <% include ./moreBuild.html %>

                        <% include ./subOption.html %>

                            <% include ./budget.html %>

                                <% include ./plan.html %>
                </div>
            </div>

            <% include ../../footer.html %>