<script src="/js/energyterm/nodeManage/moreBuild/controller.js"></script>
<script src="/js/energyterm/nodeManage/moreBuild/event.js"></script>
<script src="/js/energyterm/nodeManage/moreBuild/model.js"></script>

<!-- 多建筑列表Start -->
<div class="more_box" v-cloak v-if='onPage=="more_build"'>
    <div class="header">

        <!-- 建筑选择Start -->
        <div class="build_select">
            <pcombobox-normal id="'build_select'" sel='handler_build_select' bind="true">
                <header placeholder="建筑：全部"></header>
                <item datasource="BuildingsCed" text="buildingName"></item>
            </pcombobox-normal>
        </div>
        <!-- 建筑选择End -->

        <!-- 基础设置Start -->
        <div class="build_sett">
            <pcombobox-normal style="width:143px;" id="'build_select'" sel="build_select_sel" bind="true">
                <header placeholder="基础设置"></header>
                <item datasource="[{name:'预警、报警设置',index:0},{name:'管理分项节点',index:1}]" text="name"></item>
            </pcombobox-normal>
        </div>
        <!-- 基础设置End -->

        <!-- 预算管理Start -->
        <div class="build_pre">
            <pbutton-white text="预算管理" icon="G"></pbutton-white>
        </div>
        <!-- 预算管理End -->

        <!-- 日历选择Start -->
        <div class="build_date">
            <ptime-calendar id="divCalendar" orientation="down" sel="handler_date_select">
                <panel timetype="My" align="left" double="false"></panel>
            </ptime-calendar>
        </div>
        <!-- 日历选择End -->

    </div>
    <div class="content">

        <!-- 单个建筑Start -->
        <div class="item" v-for='item in BuildingEnergyOutlinesCed'>
            <div class="theader">

                <!-- 项目名称Start -->
                <span class="buildname" :title="item.buildingName" v-text='item.buildingName'>
                </span>
                <!-- 项目名称End -->

                <!--  Icon 标识 Start -->
                <span class="projecticon" v-if='item.main'>项目</span>
                <!-- Icon 标识 End -->

                <!-- 文本提示 Start -->
                <span class="title" v-if='item.buildingEnergyStatus' :class='{report_color:item.buildingEnergyStatus==2,warning_color:item.buildingEnergyStatus==1}'
                    v-text='(item.buildingEnergyStatus==1?"能耗预警 超标率":"能耗报警 超标率")+ (item.buildingEnergyStatus==1?item.warningRatio:item.alarmRatio)'></span>
                <!-- 文本提示 End -->

                <!-- 警告Icon Start -->
                <span class="report" v-if='item.buildingEnergyStatus' :class='{report_color:item.buildingEnergyStatus==2,warning_color:item.buildingEnergyStatus==1}'
                    v-text='item.buildingEnergyStatus==1?"V":"Q"'></span>
                <!-- 警告Icon End -->

            </div>
            <div class="tbody">
                <!-- 能耗部分 Start -->
                <div class="c_pro">

                    <div class="real_energy">

                        <!-- 实际能耗 Start -->
                        <div class="energy">
                            实际能耗
                        </div>

                        <div class="number">
                            <em v-text='item.monthEnergyData'></em>
                            <span class="company">kWh</span>
                        </div>
                        <!-- 实际能耗 End -->

                    </div>

                    <div class="target_energy">

                        <!-- 目标能耗 Start -->
                        <div class="energy">
                            目标能耗
                        </div>

                        <div class="number">
                            <em v-text='item.monthBudgetData'></em>
                            <span class="company">kWh</span>
                        </div>
                        <!-- 目标能耗 End -->

                    </div>

                </div>
                <!-- 能耗部分 End -->

                <!-- 进度条文字 Start -->
                <div :style="{'padding-left': 'calc('+ (item.proportionNumber>100?100:item.proportionNumber) +'% - '+ (item.proportionNumber>100?100:item.proportionNumber) +'px)'}"
                    class="progress_number" class="progress_number" :class="{'blue_color':item.proportionNumber<=100,'report_color':item.proportionNumber>100}"
                    v-text='item.proportionName'>
                </div>
                <!-- 进度条文字 End -->

                <!-- 进度条部分 Start -->
                <div class="progress">
                    <!--  超过部分 -->
                    <div :style="{width:''+ item.proportionNumber>100?100:item.proportionNumber +'%'}" class="innser_progress" :class="{'blue_bgcolor':item.proportionNumber<=100,'report_bgcolor':item.proportionNumber>100}"></div>
                </div>
                <!-- 进度条部分 End -->


            </div>
        </div>
        <!-- 单个建筑End -->

    </div>



    <!-- 确实很二  -->
    <!-- 111 -->
    <% include ../../../11energycenter/energyByProject/energyByProjectBody.html %>
    <% include ../../../11energycenter/energyByDay/energyByDayBody.html %>
    <!-- 111 -->

</div>
<!-- 多建筑列表End   -->