<link rel="stylesheet" href="/css/energycenter/centerindex.css">

<script src="/js/energycenter/centerindex/controller.js"></script>
<script src="/js/energycenter/centerindex/model.js"></script>
<script src="/js/energycenter/centerindex/event.js"></script>
<script src="/js/public/cityData.js"></script>


<div id="index" v-cloak  v-if='onPage=="centerindex"'>
    <!-- 头部 -->
    <div id="I_head">
        <div class="I_head_time">
            <ptime-calendar id="I_head_ptime" orientation="down" sel="indexTimeSel">
                <panel timetype="M" align="left" double="false" iscommontime="false"></panel>
            </ptime-calendar>
        </div>
        <div class="I_head_combo">
            <pcombobox-normal id="'I_head_pcombo'" sel="indexItemSel" bind="true">
                <header placeholder="切换分项：建筑总能耗" prefix="切换分项："></header>
                <item datasource="AllProjectItems" text="name" id="logicId"></item>
            </pcombobox-normal>
        </div>
        <!-- <div class="I_head_button" v-show="indexPage.energy">
            <pbutton-blue text="能耗"></pbutton-blue>
        </div>
        <div class="I_head_button" v-show="indexPage.energy">
            <pbutton-white text="单平米能耗" @click="indexPageChange"></pbutton-white>
        </div>
        <div class="I_head_button" v-show="!indexPage.energy">
            <pbutton-white text="能耗" @click="indexPageChange"></pbutton-white>
        </div>
        <div class="I_head_button" v-show="!indexPage.energy">
            <pbutton-blue text="单平米能耗"></pbutton-blue>
        </div> -->
        <ptab-button bind="true" id="'I_head_ptab'" datasource="ItabArr" text="name" sel="indexPageC" text="name"></ptab-button>
        <div class="I_head_buttonR1">
            <pbutton-menuminor sel="indexDownload" id="'I_head_pbutcom'" icon="D" bind="true">
                <header placeholder="下载"></header>
                <item datasource="indexDownloadSel" text="name"></item>
            </pbutton-menuminor>
        </div>
        <div class="I_head_buttonR2" @click.stop="projectFilter">
            <i class="iconfont icon-shaixuan"></i>筛选项目（
            <a>{{projectInfo.totalScreening}}</a>/{{projectInfo.totalProjects}}）
        </div>
    </div>

    <!-- 图表 -->
    <div id="I_body">
        <ploading-part id="ICpartloading" text="努力加载中..."></ploading-part>
        <div id="I_chart_shadow" v-show="Iloading == 1"><div></div></div> 
        <div id="I_chart" v-show="Iloading == 0"></div>
        <div id="I_chart_Avg" v-show="Iloading == 0">
            <span class="I_chart_AvgText2 I_chart_AvgText" @click="indexChartPlot(1)"><a :class="indexChartAvgLine.energyReal ? 'avgly' : 'avgh'">项目能耗平均值 : </a><a :class="indexChartAvgLine.energyReal ? 'avgly' : 'avgh'" class="ABM">{{projectInfo.avgEnergyDataShow}}</a></span>
            <span class="I_chart_AvgLine2 I_chart_AvgLine" @click="indexChartPlot(1)"></span>
            <span class="I_chart_AvgText1 I_chart_AvgText" @click="indexChartPlot(0)"><a :class="indexChartAvgLine.energyBudget ? 'avglr' : 'avgh'">项目预算平均值 : </a><a :class="indexChartAvgLine.energyBudget ? 'avglr' : 'avgh'" class="ABM">{{projectInfo.avgBudgetDataShow}}</a></span>
            <span class="I_chart_AvgLine1 I_chart_AvgLine" @click="indexChartPlot(0)"></span>
        </div>
    </div>

    <!-- 表格 -->
    <div id="I_foot">

        <div class="I_foot_head" :style="{width:noscW}">
            <span class="I_g_h1 I_g_h01">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目名称</span>
                <span class="I_grid_pic" @click="indexGridSord(0)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </span>
            </span>
            <!-- <span class="I_g_h2"> -->
            <span :class="NotSelFutureMonth ? 'I_g_h2' : 'I_g_h20'">
                <span>项目类型</span>
                <span class="I_grid_pic" @click="indexGridSord(1)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </span>
            </span>
            <!-- <span class="I_g_h3"> -->
            <span :class="NotSelFutureMonth ? 'I_g_h3' : 'I_g_h21'">
                <span>所属气候带</span>
                <span class="I_grid_pic" @click="indexGridSord(2)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </span>
            </span>
            <!-- <span class="I_g_h4"> -->
            <span :class="NotSelFutureMonth ? 'I_g_h4' : 'I_g_h22'">
                <span>项目面积( m² )</span>
                <span class="I_grid_pic" @click="indexGridSord(3)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </span>
            </span>
            <span class="I_g_h5">
                <span class="I_foot_littlegray I_foot_little"></span>
                <span v-show="indexPage.energy">预算能耗 ( kWh )</span>
                <span v-show="!indexPage.energy">单平米预算能耗 ( kWh/m² )</span>
                <span class="I_grid_pic" @click="indexGridSord(4)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </span>
            </span>
            <!-- <span class="I_g_h6"> -->
            <span :class="NotSelFutureMonth ? 'I_g_h6' : 'I_g_h23'">
                <span>预算同比</span>
                <span class="I_grid_pic" @click="indexGridSord(5)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </span>
            </span>
            <!-- <span class="I_g_h7"> -->
            <span :class="NotSelFutureMonth ? 'I_g_h7' : 'I_g_h24'">
                <span>预算环比</span>
                <span class="I_grid_pic" @click="indexGridSord(6)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </span>
            </span>
            <span v-if="NotSelFutureMonth" class="I_g_h5">
                <span class="I_foot_littleblue I_foot_little"></span>
                <span v-show="indexPage.energy">实际能耗 ( kWh )</span>
                <span v-show="!indexPage.energy">实际单平米能耗 ( kWh/m² )</span>
                <span class="I_grid_pic" @click="indexGridSord(7)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </span>
            </span>
            <span v-if="NotSelFutureMonth" class="I_g_h9">
                <span>
                    <div style="width:5px;height:5px;border-bottom:1px solid black;float:left;margin-top:9px;"></div>
                    <div style="width:6px;height:6px;border:1px solid black;border-radius:50%;margin-top:10px;float:left;"></div>
                    <div style="width:5px;height:5px;border-bottom:1px solid black;float:left;margin-top:9px;margin-right:3px;"></div>
                </span>
                <span>能耗预算比</span>
                <span class="I_grid_pic" @click="indexGridSord(8)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </span>
            </span>
            <span class="I_g_h10">
                <span>能耗计划</span>
            </span>
        </div>

        <div class="I_foot_neck" :style="{width:noscW}">
            <span class="I_g_h1 MSYB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目总和</span>
            <span :class="NotSelFutureMonth ? 'I_g_h2' : 'I_g_h20'"></span>
            <span :class="NotSelFutureMonth ? 'I_g_h3' : 'I_g_h21'"></span>
            <span :class="NotSelFutureMonth ? 'I_g_h4' : 'I_g_h22'" class="ABM">{{projectInfo.areaSumShowShow}}</span>
            <span class="I_g_h5 I_g_hti ABM">{{projectInfo.budgetDataSumShow}}</span>
            <span :class="NotSelFutureMonth ? 'I_g_h6' : 'I_g_h23'"></span>
            <span :class="NotSelFutureMonth ? 'I_g_h7' : 'I_g_h24'"></span>
            <span class="I_g_h5 I_g_hti ABM" v-show="NotSelFutureMonth">{{projectInfo.energyDataSumShow}}</span>
            <span class="I_g_h9 ABM" v-show="NotSelFutureMonth" :class="projectInfo.realBudgetRatioShow !=noData ?  projectInfo.realBudgetRatioSum > 1 ? 'redFont' : 'greenFont' : void 0">{{projectInfo.realBudgetRatioShow}}</span>
            <span class="I_g_h10"></span>
            <span class="I_g_h11"></span>
        </div>

        <div class="I_foot_ul_wrap">
            <ploading-part id="IGpartloading" text="努力加载中..."></ploading-part>
            <ul id="I_foot_ul" @mouseleave="indexGridLeave" v-show="Iloading == 0" v-show="Iloading == 0">
                <li class="I_foot_li" :style="{width:noscW}" v-for="(item,index) in projectInfo.projectInfo" @click.stop="item.noneDataType != -1 ? IndexBudgetWindowOpenReady(item) : void 0"
                    @mouseenter="indexGridHover(index)">
                    <span class="I_g_s0" :title="index+1">{{index+1}}</span>
                    <span class="I_g_s1 tTM" :title="item.projectName">{{item.projectName}}</span>
                    <span class="tTM" :class="NotSelFutureMonth ? 'I_g_s2' : 'I_g_s20'" :title="item.projectTypeName">{{item.projectTypeName}}</span>
                    <span class="tTM" :class="NotSelFutureMonth ? 'I_g_s3' : 'I_g_s30'" :title="item.climateName">{{item.climateName}}</span>
                    <span class="tTM AMT" :class="NotSelFutureMonth ? 'I_g_s4' : 'I_g_s40'" :title="item.area">{{item.area}}</span>
                    <span class="I_g_s5 tTM AMT" :title="item.budgetDataShow" v-if="item.noneDataType==0">{{item.budgetDataShow}}</span>
                    <span class="tTM AMT" :class="[{'redFont':item.budgetRatioSameShow != noData && item.budgetRatioSame > 0},{'greenFont':item.budgetRatioSameShow != noData && 0 > item.budgetRatioSame},{'I_g_s6' : NotSelFutureMonth },{'I_g_s60': !NotSelFutureMonth}]" :title="item.budgetRatioSameShow" v-if="item.noneDataType==0" ><a v-show="item.budgetRatioSameShow != noData && item.budgetRatioSame > 0">+</a>{{item.budgetRatioSameShow}}</span>
                    <span class="tTM AMT" :class="[{'redFont':item.budgetRatioCircleShow != noData && item.budgetRatioCircle > 0},{'greenFont':item.budgetRatioCircleShow != noData && 0 > item.budgetRatioCircle},{'I_g_s7' : NotSelFutureMonth },{'I_g_s70': !NotSelFutureMonth}]" :title="item.budgetRatioCircleShow" v-if="item.noneDataType==0" ><a v-show="item.budgetRatioCircleShow != noData && item.budgetRatioCircle > 0">+</a>{{item.budgetRatioCircleShow}}</span>
                    <span class="I_g_s5 tTM AMT" :title="item.energyDataShow" v-if="item.noneDataType==0">
                        <span v-show="NotSelFutureMonth">{{item.energyDataShow}}</span>
                    </span>
                    <span class="I_g_s9 tTM AMT" v-if="item.noneDataType==0"  :title="item.realBudgetRatioShow">
                        <span v-show="NotSelFutureMonth" :class="item.realBudgetRatioShow !=noData ? item.realBudgetRatio > 1 ? 'redFont' : 'greenFont' : void 0 ">{{item.realBudgetRatioShow}}</span>
                    </span>
                    <span class="I_g_s10 tTM" v-if="item.noneDataType==0">
                        <div v-show="item.ifSetPlan">
                            <pbutton-blue isborder="false"  text="查看计划" @click.stop="EnergyPlanOpen(item)"></pbutton-blue>
                        </div>
                        <div v-show="!item.ifSetPlan">无</div>
                    </span>
                    <span :class="NotSelFutureMonth ? 'I_g_s12' : 'I_g_s120'" v-if="item.noneDataType==-1">项目该月未上线,无数据……</span>
                    <span :class="NotSelFutureMonth ? 'I_g_s12' : 'I_g_s120'" v-if="item.noneDataType==1">项目该月数据质量不合格</span>
                    <span class="I_g_s11">
                        <div v-show="NotSelFutureMonth">
                            <pbutton-blue isborder="false" text="'查看能耗详情'" bind="true" disabled="item.noneDataType== -1"
                                @click.stop="openEnergyByProject(item)"></pbutton-blue>
                        </div>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div id="Chartwrap">
        <div id="ChartF"></div>
    </div>
    
    <div id="I_chart_Avg_F">
        <span class="I_chart_AvgText2 I_chart_AvgText" @click="indexChartPlot(1)"><a class="avgly">项目能耗平均值 : </a><a class="ABM avgly">{{projectInfo.avgEnergyDataShow}}</a></span>
        <span class="I_chart_AvgLine2 I_chart_AvgLine" @click="indexChartPlot(1)"></span>
        <span class="I_chart_AvgText1 I_chart_AvgText" @click="indexChartPlot(0)"><a class="avglr">项目预算平均值 : </a><a class="ABM avglr">{{projectInfo.avgBudgetDataShow}}</a></span>
        <span class="I_chart_AvgLine1 I_chart_AvgLine" @click="indexChartPlot(0)"></span>
    </div>
</div>