<!-- <link rel="stylesheet" href="/css/energycenter/centerindex.css"> -->

<script type="text/javascript" src="/js/energycenter/centerindex/controller.js"></script>
<script type="text/javascript" src="/js/energycenter/centerindex/model.js"></script>
<script type="text/javascript" src="/js/energycenter/centerindex/event.js"></script>
<script type="text/javascript" src="/js/public/cityData.js"></script>


<div id="index" v-cloak  v-if="onPage=='centerindex'" v-show="Iloading != null">
    <!-- 头部 -->
    <div id="I_head">
        <div class="I_head_time">
            <ptime-calendar id="I_head_ptime" orientation="down" sel="indexTimeSel">
                <panel timetype="M" align="left" double="false" iscommontime="false"></panel>
            </ptime-calendar>
        </div>
        <div class="I_head_combo">
            <pcombobox-normal id="'I_head_pcombo'" sel="indexItemSel" bind="true">
                <header placeholder="切换分项：获取分项失败" prefix="切换分项："></header>
                <item datasource="AllProjectItems" text="name" id="logicId"></item>
            </pcombobox-normal>
        </div>
        <ptab-button bind="true" id="'I_head_ptab'" datasource="ItabArr" text="name" sel="indexPageC" text="name"></ptab-button>
        <div class="I_head_buttonR1">
            <a>D</a>
            <pbutton-menuminor sel="indexDownload" icon="D" id="'I_head_pbutcom'" bind="true" align="right">
                <header placeholder="下载"></header>
                <item datasource="indexDownloadSel" text="name"></item>
            </pbutton-menuminor>
        </div>
        <div class="I_head_buttonR2" @click.stop="projectFilter">
        <!-- <div class="I_head_buttonR2"> -->
            <!-- <i class="iconfont icon-shaixuan"></i> -->
            <img src="/images/energycenter/centerindex/shaixuan.png" alt="">
            <a>筛选项目</a>
            （<a class="ABM">{{projectInfo.totalScreening}}</a><a class="AMT">/{{projectInfo.totalProjects}}</a>）
            <!-- <pbutton-white bind="true" @click.stop="projectFilter" icon="'D'" text="'筛选项目(' + projectInfo.totalScreening + '/' + projectInfo.totalProjects + ')'"></pbutton-white> -->
        </div>



    </div>

    <!-- 图表 -->
    <div id="I_body">
        <div id="I_chart_shadow" v-show="Iloading == 1"><div></div></div> 
        <div id="I_chart" v-show="Iloading == 0"></div>
        <div id="I_chart_Avg" v-show="Iloading == 0">
            <span class="I_chart_AvgText2 I_chart_AvgText" @click="indexChartPlot(1)"><a :class="indexChartAvgLine.energyReal ? 'avgly' : 'avgh'">项目能耗平均值 : </a><a :class="indexChartAvgLine.energyReal ? 'avgly' : 'avgh'" class="ABM">{{projectInfo.avgEnergyDataShow}}</a></span>
            <span class="I_chart_AvgLine2 I_chart_AvgLine" @click="indexChartPlot(1)"></span>
            <span class="I_chart_AvgText1 I_chart_AvgText" @click="indexChartPlot(0)"><a :class="indexChartAvgLine.energyBudget ? 'avglr' : 'avgh'">项目预算平均值 : </a><a :class="indexChartAvgLine.energyBudget ? 'avglr' : 'avgh'" class="ABM">{{projectInfo.avgBudgetDataShow}}</a></span>
            <span class="I_chart_AvgLine1 I_chart_AvgLine" @click="indexChartPlot(0)"></span>
        </div>
    </div>
    
    <!-- 表格 -->
    <div id="I_foot">

        <div class="I_foot_head clear">
            <div class="wid0"></div>

            <div :class="!NotSelFutureMonth ? 'wid1' : indexPage.energy ? 'wid31' : 'wid61'">
                <div>项目名称</div>
                <div class="I_grid_pic" @click="indexGridSord(0)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </div>
            </div>

            <div :class="!NotSelFutureMonth ? 'wid2' : indexPage.energy ? 'wid32' : 'wid62'">
                <div>项目类型</div>
                <div class="I_grid_pic" @click="indexGridSord(1)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </div>
            </div>

            <div :class="!NotSelFutureMonth ? 'wid3' : indexPage.energy ? 'wid33' : 'wid63'">
                <div>所属气候带</div>
                <div class="I_grid_pic" @click="indexGridSord(2)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </div>
            </div>

            <div :class="!NotSelFutureMonth ? 'wid4' : indexPage.energy ? 'wid34' : 'wid64'">
                <div>项目面积( m² )</div>
                <div class="I_grid_pic" @click="indexGridSord(3)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </div>
            </div>

            <div :class="!NotSelFutureMonth ? 'wid5' : indexPage.energy ? 'wid35' : 'wid65'">
                <div class="I_foot_littlegray I_foot_little"></div>
                <div v-show="indexPage.energy">预算能耗 ( kWh )</div>
                <div v-show="!indexPage.energy">单平米预算能耗 ( kWh/m² )</div>
                <div class="I_grid_pic" @click="indexGridSord(4)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </div>
            </div>

            <div :class="!NotSelFutureMonth ? 'wid6' : indexPage.energy ? 'wid36' : 'wid66'">
                <div>预算同比</div>
                <div class="I_grid_pic" @click="indexGridSord(5)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </div>
            </div>

            <div :class="!NotSelFutureMonth ? 'wid7' : indexPage.energy ? 'wid37' : 'wid67'">
                <div>预算环比</div>
                <div class="I_grid_pic" @click="indexGridSord(6)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </div>
            </div>

            <div :class="!NotSelFutureMonth ? 'wid8' : indexPage.energy ? 'wid38' : 'wid68'">
                <div class="I_foot_littleblue I_foot_little"></div>
                <div v-show="indexPage.energy">实际能耗 ( kWh )</div>
                <div v-show="!indexPage.energy">实际单平米能耗 ( kWh/m² )</div>
                <div class="I_grid_pic" @click="indexGridSord(7)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </div>
            </div>

            <div :class="!NotSelFutureMonth ? 'wid9' : indexPage.energy ? 'wid39' : 'wid69'">
                <div>
                    <div style="width:5px;height:5px;border-bottom:1px solid black;float:left;margin-top:9px;"></div>
                    <div style="width:6px;height:6px;border:1px solid black;border-radius:50%;margin-top:10px;float:left;"></div>
                    <div style="width:5px;height:5px;border-bottom:1px solid black;float:left;margin-top:9px;margin-right:3px;"></div>
                </div>
                <div>能耗预算比</div>
                <div class="I_grid_pic" @click="indexGridSord(8)">
                    <i class="per-bIcon">t</i>
                    <i class="per-bIcon">b</i>
                </div>
            </div>

            <div :class="!NotSelFutureMonth ? 'wid10' : indexPage.energy ? 'wid40' : 'wid70'">
                <div>能耗计划</div>
            </div>

        </div>

        <div class="I_foot_neck">
            <div class="wid0"></div>
            <div class="MSYB" :class="!NotSelFutureMonth ? 'wid1' : indexPage.energy ? 'wid31' : 'wid61'">项目总和</div>
            <div :class="!NotSelFutureMonth ? 'wid2' : indexPage.energy ? 'wid32' : 'wid62'"></div>
            <div :class="!NotSelFutureMonth ? 'wid3' : indexPage.energy ? 'wid33' : 'wid63'"></div>
            <div class="ABM tTM" :class="!NotSelFutureMonth ? 'wid4' : indexPage.energy ? 'wid34' : 'wid64'">{{projectInfo.areaSumShowShow}}</div>
            <div class="ABM" :class="!NotSelFutureMonth ? 'wid5' : indexPage.energy ? 'wid35' : 'wid65'">
                <div class="box2 tTM">{{projectInfo.budgetDataSumShow}}</div>
            </div>
            <div :class="!NotSelFutureMonth ? 'wid6' : indexPage.energy ? 'wid36' : 'wid66'"></div>
            <div :class="!NotSelFutureMonth ? 'wid7' : indexPage.energy ? 'wid37' : 'wid67'"></div>
            <div class="ABM" :class="!NotSelFutureMonth ? 'wid8' : indexPage.energy ? 'wid38' : 'wid68'">
                <div class="box2 tTM">{{projectInfo.energyDataSumShow}}</div>
            </div>
            <div class="ABM" :class="!NotSelFutureMonth ? 'wid9' : indexPage.energy ? 'wid39' : 'wid69'">
                <div class="tTM box5" :class="projectInfo.realBudgetRatioShow !=noData ?  projectInfo.realBudgetRatioSum > 1 ? 'redFont' : 'greenFont' : void 0">{{projectInfo.realBudgetRatioShow}}</div>
            </div>
            <div :class="!NotSelFutureMonth ? 'wid30' : indexPage.energy ? 'wid40' : 'wid70'"></div>
        </div>

        <div class="I_foot_ul_wrap">

            <ploading-part id="IGpartloading" text="努力加载中..."></ploading-part>

            <ul id="I_foot_ul" @mouseleave="indexGridLeave" v-show="Iloading == 0" :style="{width:noscWW}">
                <li class="I_foot_li" :style="{width:noscW}" v-for="(item,index) in projectInfo.projectInfo" @click.stop="item.noneDataType != -1 ? IndexBudgetWindowOpenReady(item) : void 0" @mouseenter="indexGridHover(index)">
                    
                    <div class="wid0 tTM" :title="index+1">
                        <div class="box tTM">{{index+1}}</div>
                    </div>

                    <div :class="!NotSelFutureMonth ? 'wid1' : indexPage.energy ? 'wid31' : 'wid61'" :title="item.projectName">
                        <div class="box tTM">{{item.projectName}}</div>
                    </div>

                    <div :class="!NotSelFutureMonth ? 'wid2' : indexPage.energy ? 'wid32' : 'wid62'" :title="item.projectTypeName">
                        <div class="box tTM">{{item.projectTypeName}}</div>
                    </div>

                    <div :class="!NotSelFutureMonth ? 'wid3' : indexPage.energy ? 'wid33' : 'wid63'" :title="item.climateName">
                        <div class="box tTM">{{item.climateName}}</div>
                    </div>

                    <div class="AMT" :class="!NotSelFutureMonth ? 'wid4' : indexPage.energy ? 'wid34' : 'wid64'" :title="item.area">
                        <div class="box tTM">{{item.area}}</div>
                    </div>

                    <div class="AMT" :class="!NotSelFutureMonth ? 'wid5' : indexPage.energy ? 'wid35' : 'wid65'" :title="item.budgetDataShow" v-if="item.noneDataType==0">
                        <div class="box box3 tTM">{{item.budgetDataShow}}</div>
                    </div>

                    <div class="AMT" :class="!NotSelFutureMonth ? 'wid6' : indexPage.energy ? 'wid36' : 'wid66'" :title="item.budgetRatioSameShow" v-if="item.noneDataType==0" >
                        <div class="tTM box" :class="item.budgetRatioSameShow != noData ? item.budgetRatioSame > 0 ? 'redFont' : 'greenFont' : void 0">
                            <a v-show="item.budgetRatioSameShow != noData && item.budgetRatioSame > 0">+</a>{{item.budgetRatioSameShow}}
                        </div>
                    </div>

                    <div class="AMT" :class="!NotSelFutureMonth ? 'wid7' : indexPage.energy ? 'wid37' : 'wid67'" :title="item.budgetRatioCircleShow" v-if="item.noneDataType==0" >
                        <div class="tTM box" :class="item.budgetRatioCircleShow != noData ? item.budgetRatioCircle > 0 ? 'redFont' : 'greenFont' : void 0">
                            <a v-show="item.budgetRatioCircleShow != noData && item.budgetRatioCircle > 0">+</a>{{item.budgetRatioCircleShow}}
                        </div>
                    </div>

                    <div class="AMT" :class="!NotSelFutureMonth ? 'wid8' : indexPage.energy ? 'wid38' : 'wid68'" :title="item.energyDataShow" v-if="item.noneDataType==0">
                        <div class="box tTM box3">{{item.energyDataShow}}</div>
                    </div>

                    <div class="tTM AMT" :class="!NotSelFutureMonth ? 'wid9' : indexPage.energy ? 'wid39' : 'wid69'" :title="item.realBudgetRatioShow" v-if="item.noneDataType==0">
                        <div class="box box4" :class="item.realBudgetRatioShow != noData ? item.realBudgetRatio > 1 ? 'redFont' : 'greenFont' : void 0 ">{{item.realBudgetRatioShow}}</div> 
                    </div> 

                    <div class="tTM" :class="!NotSelFutureMonth ? 'wid10' : indexPage.energy ? 'wid40' : 'wid70'" v-if="item.noneDataType==0">
                        <div class="grayblueFont lookplan" v-show="item.ifSetPlan" @click.stop="EnergyPlanOpen(item)">查看计划</div>
                        <div class='greyFont lookplan' v-show="!item.ifSetPlan">无</div>
                    </div>

                    <div :class="!NotSelFutureMonth ? 'wid12' : indexPage.energy ? 'wid42' : 'wid72'" v-if="item.noneDataType != 0">
                        <div v-if="item.noneDataType == -1">项目该月未上线,无数据……</div>
                        <div v-if="item.noneDataType == 1">项目该月数据质量不合格</div>
                    </div>

                    <div :class="!NotSelFutureMonth ? 'wid11' : indexPage.energy ? 'wid41' : 'wid71'">
                        <div>
                            <pbutton-blue isborder="false" text="'查看能耗详情'" bind="true" disabled="item.noneDataType == -1 || !NotSelFutureMonth" @click.stop="openEnergyByProject(item)"></pbutton-blue>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div id="Chartwrap">
        <div id="ChartF"></div>
    </div>
    
    <div id="I_chart_Avg_F">
        <span class="I_chart_AvgText2 I_chart_AvgText" @click="indexChartPlot(1)"><a class="avgly">项目能耗平均值 : </a><a class="ABM avgly">{{projectInfo.avgEnergyDataShow}}</a></span>
        <span class="I_chart_AvgLine2 I_chart_AvgLine" @click="indexChartPlot(1)"></span>
        <span class="I_chart_AvgText1 I_chart_AvgText" @click="indexChartPlot(0)"><a class="avglr">项目预算平均值 : </a><a class="ABM avglr">{{projectInfo.avgBudgetDataShow}}</a></span>
        <span class="I_chart_AvgLine1 I_chart_AvgLine" @click="indexChartPlot(0)"></span>
    </div>
</div>