<link rel="stylesheet" href="/css/energycenter/energyByDayBody.css">

<script src="/js/energycenter/energyByDayBody/controller.js"></script>
<script src="/js/energycenter/energyByDayBody/model.js"></script>
<script src="/js/energycenter/energyByDayBody/event.js"></script>

<div id="energyByDayBox">
    <div class="energyByDayBody_left">
        <div class="energyByDayBody_items_wrap">
            <div class="energyByDayBody_items" v-for="(item,index) in DAllItems" @click="DUserSelItem(item,index)">
                <span>
                    <i class="per-bIcon" v-show="item.budgetNode == 1" title="该分项为建筑的预算管理节点">M</i>
                </span>
                <span>{{item.energyItemName}}</span>
                <span>{{item.monthEnergyData}}&nbsp;&nbsp;kWh&nbsp;&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="energyByDayBody_right">
        <div class="energyByDayBody_right_top">

            <div class="energyByDayBody_dayenergy">
                <div class="energyByDayBody_text0">日能耗</div>
                <div>
                    <span class="energyByDayBody_text1">{{DItemEnergyData.energyData}}</span>
                    <span class="energyByDayBody_text0">kWh</span>
                </div>
            </div>


            <div class="energyByDayBody_dayplan">
                <div class="energyByDayBody_text0">日计划</div>
                <div>
                    <span class="energyByDayBody_text1">{{DItemEnergyData.energyPlan}}</span>
                    <span class="energyByDayBody_text0">kWh</span>
                </div>
            </div>


            <div class="energyByDayBody_daypercent">
                <div class="energyByDayBody_text0">日能耗占计划比</div>
                <div>
                    <span class="energyByDayBody_text1">{{DItemEnergyData.energyData}}</span>
                    <span class="energyByDayBody_text0">%</span>
                </div>
            </div>


            <div class="energyByDayBody_daytongbi">

                <div>
                    <span class="energyByDayBody_text0">同比</span>
                    <span class="energyByDayBody_text3">
                        <span class="grayFont">同比能耗</span>
                        <span class="moreblackFont">{{DItemEnergyData.sameRatioData}}kWh</span>
                    </span>
                </div>

                <div :class="DItemEnergyData.sameRatio>=0 ? 'redFont' : 'greenFont'">
                    <span v-if="DItemEnergyData.sameRatio>0" class="energyByDayBody_text2">+</span>
                    <span class="energyByDayBody_text2">{{DItemEnergyData.sameRatio}}</span>
                    <span class="energyByDayBody_text4">%</span>
                </div>

            </div>


            <div class="energyByDayBody_dayhuanbi">

                <div>
                    <span class="energyByDayBody_text0">环比</span>
                    <span class="energyByDayBody_text3">
                        <span class="grayFont">环比能耗</span>
                        <span class="moreblackFont">{{DItemEnergyData.circleRatioData}}kWh</span>
                        
                    </span>
                </div>

                <div :class="DItemEnergyData.circleRatio>=0 ? 'redFont' : 'greenFont'">
                    <span v-if="DItemEnergyData.circleRatio>0" class="energyByDayBody_text2">+</span>
                    <span class="energyByDayBody_text2">{{DItemEnergyData.circleRatio}}</span>
                    <span class="energyByDayBody_text4">%</span>
                </div>

            </div>


        </div>


        <div class="energyByDayBody_right_bottom">
            <div class="energyByDayBody_itemenergy" v-show="DSelBudgerItem">
                分项能耗统计
            </div>
            <div :class="DSelBudgerItem ? 'energyByDayBody_energyhour1' : 'energyByDayBody_energyhour2'" id="energyByDayChart">

            </div>
        </div>
    </div>
</div>