<% include ../header.html %>

    <link rel="stylesheet" href="/css/energycenter/lookplan.css">

    <script>
        var query = '<%=query%>';
        query = JSON.parse(psecret.parser(query));

    </script>

    <script type="text/javascript" src="/js/energycenter/lookPlan/controller.js"></script>
    <script type="text/javascript" src="/js/energycenter/lookPlan/event.js"></script>
    <script type="text/javascript" src="/js/energycenter/lookPlan/model.js"></script>

    <!-- 挂载DOM -->
    <div id="app">
        <div class="body">
            <div id="lookplan" v-cloak v-if='onPage=="lookplan"'>

                <div class="nav">
                    {{projectName}}&nbsp;&nbsp;{{projectTime + "能耗计划"}}(kWh)
                    <div>
                        <pbutton-white icon="D" text="下载能耗计划" @click="EnergyPlanDownload"></pbutton-white>
                    </div>
                </div>

                <div id="grid">

                        <div class="head" :style="{width:wrapWidth}">
                            <span></span>
                            <span :style="{width:elNBWidth}" v-for="item in planGridData.items" :title="item.name + 'kWh'" v-text="item.name"></span>
                            <span :style="{width:elNBWidth}">汇总</span>
                        </div>

                        <ul class="box" :style="{width:wrapWidth}">

                            <li class="row" v-for="(model,index) in planGridData.time">
                                <span>{{model}}</span>
                                <span :style="{width:elWidth}" class="" v-for="(data,index1) in planGridData.items" :title="data.data[index] + 'kWh'" v-text="data.data[index]"></span>
                                <span :style="{width:elWidth}" class="" :title="planGridData.sumdata[index] + 'kWh'" v-text="planGridData.sumdata[index]"></span>
                            </li>

                            <li class="row">
                                <span>汇总</span>
                                <span :style="{width:elWidth}" class="" v-for="item1 in planGridData.items" v-if="planGridData.items" :title="item1.data[Planlast] + 'kWh'"
                                    v-text="item1.data[Planlast]"></span>
                                <span :style="{width:elWidth}" class="" v-if="planGridData.sumdata" :title="planGridData.sumdata[Planlast] + 'kWh'" v-text="planGridData.sumdata[Planlast]"></span>
                            </li>

                        </ul>

                </div>

            </div>

        </div>
    </div>


    <% include ../footer.html %>