<script type="text/html" id="modify-record-float">
    <div class="budgetFloat">
        <div class="remarkTitle">
            填写批注
        </div>
        <div class="remarkText">
            <ptext-textarea  placeholder="请填写批注，100字以内" id="newRemarkText"  onkeyup="newRemarkInput()">
                  <verify errtip="不可超过100字" verifytype="length" length="100"></verify> 
                </ptext-textarea>
        </div>
        <div class="remarkSave">
            <pbutton-blue text="保存" @click="budgetRemarkSave()" id="remarkSaveButton"></pbutton-blue>
        </div>
        <div class="reportTitle">预算修改记录</div>
        <div class="reportTable">
            <div class="tableHead tableUl">
                <div class="tableLi">修改时间</div>
                <div class="tableLi">操作人</div>
                <div class="tableLi">操作</div>
                <div class="tableLi">能耗预算(kWh)</div>
                <div class="tableLi">批注</div>
            </div>
            <div class="tableCont">
                <table class="remarkTable">       
                    <tr class="tableLine tableUl" v-for="item in selEnergyBudget.historyList">
                    <td class="tableLi">
                        <span class="cell" v-text="item.updateTime"></span>
                    </td>
                    <td class="tableLi">
                        <span class="cell" v-text="item.operateUser"></span>
                    </td>
                    <td class="tableLi">
                        <span class="cell" v-text="item.operate"></span>
                    </td>
                    <td class="tableLi">
                        <span class="cell" v-text="item.energyDataBudget"></span>
                    </td>
                    <td class="tableLi">
                        <span class="cell" v-text="item.remark"></span></td>
                    </tr>
               </table>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="day-Item-Plan">
    <div class="itemPlanFloat">
        <div class="pieChart" id="dayItemChart"></div>
        <div class="chartInfo">
            <ul class="infoUl" v-for="item in itemChartData">
                <li class="circle"><span v-bind:style="{'background':item.color}"></span></li>
                <li class="name" v-text="item.name"></li>
                <li class="value"><span  v-text="item.y"></span><em class="unit">kWh</em></li>
            </ul>
        </div>
    </div>
</script>
<script type="text/html" id="set-plan-window">
    <div class="planSetWindow">
        <div class="explainHead">欢迎设置能耗计划，合理的计划可以更有效的控制预算！</div>
        <div class="stitle">什么是能耗计划</div>
        <div class="scont what">在设置建筑能耗预算后，为了更好的控制能耗，通常会把能耗预算拆分到分项-日这个维度进行实际管理，拆分出来的结果就叫做能耗计划。</div>
        <div class="stitle">如何设置能耗计划</div>
        <div class="scont">为了把能耗预算拆分到分项－日能耗计划，需要分两步完成，第一步 选择手动拆分，第二步将拆分后的结果自动拆分到日分项计划。</div>
        <ul class="stepUl">
            <li><span class="num">1</span>选择手动拆分方式，将月预算拆分成日计划或月分项计划</li>
            <li><span class="num">2</span>填写每项或每日的计划，并保存</li>
            <li><span class="num">3</span>将拆分后的结果，自动计算日-分项计划</li>
        </ul>
        <div class="imgExplain"></div>
        <div class="chooseButton" v-if="onPage!='plan_manage'">
            <div class="leftCheck" @click.capture="setStorageOption(!$('#nextHintCheck').psel())">
                <pswitch-checkbox text="'下次不再提示'" start="true" bind="true" id="'nextHintCheck'"></pswitch-checkbox>
            </div>
            <div class="rigthButton">
                <span class="btitle">设置能耗计划</span>
                <pbutton-blue icon=":" text="按分项拆分" style="margin-right: 20px;" @click="AllocateShow(1)"></pbutton-blue>
                <pbutton-blue icon="﹂" text="按日期拆分" @click="AllocateShow(0)"></pbutton-blue>
            </div>
        </div>
        <div class="chooseButton" v-show="onPage=='plan_manage'">
                <div class="leftCheck" @click.capture="setStorageOption(!$('#nextHintCheck').psel())">
                    <pswitch-checkbox text="'下次不再提示'" start="true" bind="true" id="'nextHintCheck'"></pswitch-checkbox>
                </div>
                <div class="closeButton">
                        <pbutton-white  text="关闭帮助" @click.stop="$('#setPlanWindow').phide()"></pbutton-white>
                </div>
            </div>

    </div>
</script>